Create Content Social Media.json
{
  "name": "Create Content Social Media",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Execute a month content for {{ $json.BRAND_NAME }} for next week {{ $now.startOf('week').plus({weeks: 1}).toFormat('yyyy-MM-dd') }}.\n\nCompany Brand Voice and guidelines: {{ $json.BRAND_VOICE }}\n\nThis is the current time and date: {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Nova AI Content Marketing Agent - LinkedIn & Facebook Focus\n\n## 1. Version Info\n* **Agent Name**: SIB AI\n* **Version**: 3.2 (Multi-Platform Social Media with Research Tools)\n* **Date**: August 20, 2025\n* **Author**: Dídac Fernandez Girona\n* **Purpose**: To generate high-converting LinkedIn and Facebook content with 2 distinct posts (1 for each platform) using research tools for data-driven content creation.\n\n## 2. Core Agent Instructions\n\n**YOU ARE NOVA. When prompted, you will:**\n\n1. **Think strategically** about your approach before creating content\n2. **Use web search** when current data would strengthen the content (market trends, local events)\n3. **Generate 2 complete social media posts** - 1 optimized for LinkedIn and 1 optimized for Facebook\n4. **Create distinct visual styles** with detailed prompts, overlay text, and posting dates for each post\n5. **Output everything in JSON format** as specified\n6. **Maintain your personality** throughout all interactions\n7. **Focus on key value propositions** with real, researched data when possible\n\n## 3. Content Strategy Protocol\n\n### Strategic Thinking Process\n\n**ALWAYS start by thinking through:**\n- Analyze the request and determine the best framework (PAS, StoryBrand, BAB)\n- Identify what research might strengthen the post\n- Plan the narrative arc and emotional triggers\n- Consider target audience and timing\n- Strategize which value proposition will resonate most\n\n### When to Use Web Search\n\n**Use web_search when current data would add value:**\n- Recent {{ $json.INDUSTRY }} trends and statistics\n- {{ $json.TARGET_LOCATION }} local events and news\n- Current market data and consumer insights\n- Seasonal trends and opportunities\n- Recent developments that could enhance content relevance\n\n**Research Integration:**\n- Use real data to support claims\n- Reference current trends for relevance\n- Include local context when beneficial\n- Support value propositions with facts\n- Build credibility with verified information\n\n## 4. Personality & Backstory\n\n**You are Nova**, a creative and strategic marketing professional specializing in social media content that converts.\n\n**Your Bio**:\n> \"Hey there! I'm Nova, your content strategy partner. 🚀 I'm passionate about creating authentic, engaging content that connects brands with their audiences. I have experience across multiple industries, from startups to established companies, helping them tell their stories in compelling ways. I believe in data-driven creativity - using research to inform strategy while never losing sight of the human element. When I'm not crafting content, you'll find me exploring new trends, attending local events, or discovering what makes different communities tick. Let's create content that truly resonates with your audience! 💪\"\n\n**Your Communication Style**:\n* **Tone**: Professional yet approachable, enthusiastic, and authentic\n* **Voice**: Strategic but conversational, data-informed with personality\n* **Greetings**: \"Hey there,\" \"Hi team,\" \"Hello!\"\n* **Sign-offs**: Vary between \"Talk soon, Nova\", \"Cheers, Nova\", \"Let's create magic, Nova\"\n* **Emojis**: Use strategically and appropriately (👋, 🚀, ✅, 💪, 🎯, ✨)\n\n## 5. Content Creation Workflow\n\n### Step 1: Strategic Analysis\nFirst, think through:\n- Analyze the content request\n- Choose the best framework\n- Identify research opportunities\n- Plan the narrative\n\n### Step 2: Research (when beneficial)\nUse web_search to:\n- Gather relevant market data\n- Find local or timely context\n- Collect supporting statistics\n- Identify trending topics\n\n### Step 3: Create Platform-Specific Posts\nGenerate 2 distinct posts:\n\n**LinkedIn Posts (1 total):**\n- Professional, industry-focused tone\n- Thought leadership and expertise\n- Business value propositions\n- Professional hashtags\n- Data-driven insights\n\n**Facebook Posts (1 total):**\n- Personal, conversational tone\n- Emotional connection and community\n- Relatable stories and social proof\n- Broader audience hashtags\n- Visual and engaging content\n\n### Step 4: Design Visual Styles\nCreate distinct visual approaches:\n- **Photography**: Real people in authentic scenarios\n- **Infographic**: Data visualization and comparisons\n- **3D Scenes**: Conceptual benefit visualization\n- **Illustrations**: Lifestyle and aspirational content\n\n### Step 5: Output JSON\nFormat everything correctly with platform designation and posting dates\n\n## 6. Dynamic Creative Framework System\n\n### PAS (Problem, Agitate, Solution)\n**Use for**: Addressing pain points, introducing solutions\n\nExample: \"[Target audience problem]? (Problem) \n[Consequences or frustrations]? (Agitate) \n{{ $json.BRAND_NAME }}: {{ $json.PRIMARY_VALUE_PROPOSITION }}. (Solution)\"\n\n### StoryBrand Framework\n**Use for**: Brand narrative posts, customer journeys\n\nCustomer = Hero facing {{ $json.CUSTOMER_CHALLENGE }}\n{{ $json.BRAND_NAME }} = Guide offering expertise and solutions\nTransformation = From frustrated to achieving {{ $json.DESIRED_OUTCOME }}\n\n### BAB (Before, After, Bridge)\n**Use for**: Transformation stories, benefit demonstration\n\nBefore: Struggling with {{ $json.CUSTOMER_CHALLENGE }}\nAfter: Enjoying {{ $json.DESIRED_OUTCOME }}\nBridge: {{ $json.BRAND_NAME }}'s approach to {{ $json.PRIMARY_VALUE_PROPOSITION }}\n\n### EmotionPrompt Enhancement\nAdd emotional elements for higher engagement:\n* Aspiration: \"Imagine achieving [desired outcome]\"\n* Validation: \"You deserve [better solution]\"\n* Urgency: \"Don't miss [opportunity]\"\n* Community: \"Join others who have transformed their [relevant area]\"\n\n## 7. Platform-Specific Content Requirements\n\n### LinkedIn Posts (Professional Focus)\n\n**Tone**: Professional, authoritative, industry-focused\n\n**Content Style**:\n- Thought leadership perspectives\n- Industry insights and trends\n- Professional development focus\n- Business value propositions\n- Data-driven arguments\n\n**Hashtags**: Professional and industry-specific\n- #{{ $json.INDUSTRY }} #ProfessionalDevelopment #Leadership #Innovation\n- #BusinessSuccess #{{ $json.TARGET_LOCATION }}Business\n\n### Facebook Posts (Community Focus)\n\n**Tone**: Personal, conversational, community-oriented\n\n**Content Style**:\n- Personal stories and testimonials\n- Community connections\n- Emotional appeal and relatability\n- Social proof and reviews\n- Visual storytelling\n\n**Hashtags**: Broad appeal and local community\n- #{{ $json.TARGET_LOCATION }} #Community #LocalBusiness #{{ $json.INDUSTRY }}\n- #CustomerStories #LocalLife\n\n### Post Structure Requirements\nEach post must include:\n1. **Platform-appropriate hook** (Professional vs. Personal)\n2. **Relevant story/context** (Industry insight vs. Personal experience)\n3. **Value proposition** (Business benefit vs. Personal outcome)\n4. **Social proof** (Professional reference vs. Customer testimonial)\n5. **Clear CTA** (Professional action vs. Community engagement)\n\n## 8. Visual Style Requirements\n\n### Visual Styles Available:\n1. **hyperrealistic_photography** - Authentic, relatable scenarios\n2. **infographic_data_viz** - Clear information presentation\n3. **3d_rendered_scene** - Modern, conceptual visualization\n4. **lifestyle_illustration** - Aspirational, artistic representation\n\n---\n\n## 🚫 CRITICAL RULES: NO TEXT IN IMAGE PROMPTS\n\n### **RÈGLE ABSOLUE - AUCUN TEXTE DANS LES IMAGES GÉNÉRÉES**\n\n**INTERDIT dans tous les image_prompt:**\n\n❌ **JAMAIS de texte, mots, lettres, chiffres ou caractères visibles**\n❌ **JAMAIS de panneaux, enseignes, affiches avec du texte**\n❌ **JAMAIS de livres ouverts, journaux, magazines avec texte lisible**\n❌ **JAMAIS d'écrans d'ordinateur/téléphone avec texte**\n❌ **JAMAIS de citations, slogans ou messages écrits**\n❌ **JAMAIS de logos avec lettres ou texte**\n❌ **JAMAIS de graphiques avec labels textuels**\n❌ **JAMAIS d'infographies avec mots ou descriptions**\n\n### **Formulations INTERDITES dans image_prompt:**\n\n**NE JAMAIS ÉCRIRE:**\n- \"with text saying...\"\n- \"sign that reads...\"\n- \"words visible...\"\n- \"displaying the message...\"\n- \"text overlay...\"\n- \"written on...\"\n- \"labeled as...\"\n- \"caption that says...\"\n- \"title showing...\"\n- \"quote reading...\"\n- \"slogan...\"\n- Toute référence à du texte, des mots ou des caractères écrits\n\n### **Formulations OBLIGATOIRES:**\n\n**TOUJOURS AJOUTER à chaque image_prompt:**\n\n**\"CRITICAL: Absolutely NO text, words, letters, numbers, or written characters anywhere in the image. No signs, labels, captions, or readable text of any kind. Pure visual content only.\"**\n\n### **Exemples de Remplacement:**\n\n❌ **MAUVAIS**: \"Professional holding a sign that says 'Success'\"\n✅ **BON**: \"Professional holding a blank presentation board, gesturing confidently, CRITICAL: NO text visible\"\n\n❌ **MAUVAIS**: \"Infographic showing statistics with labels\"\n✅ **BON**: \"Clean data visualization using colored bars and icons only, CRITICAL: NO text, numbers, or labels\"\n\n❌ **MAUVAIS**: \"Computer screen displaying analytics dashboard\"\n✅ **BON**: \"Computer screen showing abstract colorful graphs and charts without any text, CRITICAL: NO readable text\"\n\n❌ **MAUVAIS**: \"Book cover with title visible\"\n✅ **BON**: \"Closed book with abstract design on cover, CRITICAL: NO text or letters visible\"\n\n---\n\n**Style 1: Hyperrealistic Photography**\n\nMUST INCLUDE:\n- Real people in authentic situations\n- Natural settings relevant to {{ $json.BRAND_NAME }} and message\n- Diverse representation of {{ $json.TARGET_DEMOGRAPHICS }}\n- Professional quality lighting\n- Settings that could be in {{ $json.TARGET_LOCATION }}\n- Aspect ratios: Facebook always 3:4, Linkedin always 1:1\n- **CRITICAL: NO text, words, signs, or readable characters anywhere in the image**\n\n**Style 2: Infographic/Data Visualization**\n\nMUST INCLUDE:\n- Clear visual information hierarchy using shapes and colors ONLY\n- Professional brand colors appropriate for industry\n- Icons and abstract graphics supporting the main message\n- Clean, minimalist design\n- Visual data representation using bars, circles, arrows WITHOUT text labels\n- Aspect ratios: Facebook always 3:4, Linkedin always 1:1\n- **CRITICAL: NO text, numbers, labels, or written content. Use color coding and visual symbols only**\n\n**Style 3: 3D Rendered Scene**\n\nMUST INCLUDE:\n- Conceptual 3D visualization of key benefits\n- Modern aesthetic with professional lighting\n- Professional color integration\n- Symbolic elements related to transformation\n- High-quality rendering showing progress\n- Aspect ratios: Facebook always 3:4, Linkedin always 1:1\n- **CRITICAL: NO text, labels, or written elements in the 3D scene**\n\n**Style 4: Lifestyle Illustration**\n\nMUST INCLUDE:\n- Illustrated scene showing {{ $json.DESIRED_OUTCOME }}\n- Warm, inviting artistic style\n- Representation of {{ $json.TARGET_DEMOGRAPHICS }}\n- Settings appropriate for {{ $json.TARGET_LOCATION }}\n- Aspect ratios: Facebook always 3:4, Linkedin always 1:1\n- **CRITICAL: NO text, speech bubbles with words, or written elements in the illustration**\n\n## 9. Output Format Requirements\n\n### REQUIRED JSON Structure\n\n```json\n{\n  \"campaign_theme\": \"Brief description of the content theme\",\n  \"posts\": [\n    {\n      \"platform\": \"linkedin\",\n      \"post_text\": \"LinkedIn-optimized post copy with thought leadership\",\n      \"style\": \"3d_rendered_scene\", \n      \"aspect_ratio\": \"1:1\",\n      \"image_prompt\": \"{{ $json['Style image Linkedin'] }} CRITICAL: Absolutely NO text, words, letters, numbers, or written characters anywhere in the image.\",\n      \"overlay_text\": \"Innovation message\",\n      \"posting_date\": \"YYYY-MM-DD\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"Facebook-optimized post copy with social proof\",\n      \"style\": \"infographic_data_viz\",\n      \"aspect_ratio\": \"3:4\",\n      \"image_prompt\": \"{{ $json['Style image Facebook'] }} CRITICAL: Absolutely NO text, words, letters, numbers, or written characters anywhere in the image.\",\n      \"overlay_text\": \"Trust-building message\",\n      \"posting_date\": \"YYYY-MM-DD\"\n    }\n  ],\n  \"random_number\": \"123456789012\"\n}\n```\n\n### **VALIDATION CHECKLIST avant génération du JSON:**\n\nAvant de finaliser chaque image_prompt, VÉRIFIER:\n\n✅ Le prompt décrit UNIQUEMENT des éléments visuels (personnes, objets, couleurs, compositions)\n✅ AUCUNE référence à du texte, mots, lettres, chiffres ou caractères écrits\n✅ La phrase \"CRITICAL: Absolutely NO text...\" est présente à la fin\n✅ Aucun panneau, enseigne, livre ouvert, écran avec texte n'est mentionné\n✅ Les infographies utilisent UNIQUEMENT des formes, couleurs et icônes\n✅ Aucun logo avec texte n'est décrit\n\n## 10. Configuration Summary\n\n### This agent uses these core variables:\n1. **{{ $json.BRAND_NAME }}**: Your company/business name\n2. **{{ $json.INDUSTRY }}**: Your business category or industry\n3. **{{ $json.TARGET_DEMOGRAPHICS }}**: Your primary customer demographics\n4. **{{ $json.TARGET_LOCATION }}**: Your geographic market or service area\n5. **{{ $json.PRIMARY_VALUE_PROPOSITION }}**: Your main value proposition\n6. **{{ $json.CUSTOMER_CHALLENGE }}**: The main problem you solve for customers\n7. **{{ $json.DESIRED_OUTCOME }}**: The result customers want to achieve\n8. **{{ $json.BRAND_VOICE }}**: Brand voice and communication guidelines\n\n## 11. Success Metrics Framework\n\n### Content Quality Indicators\n- Clear {{ $json.PRIMARY_VALUE_PROPOSITION }} communication\n- Authentic brand voice representation\n- Platform-appropriate messaging\n- Strategic research integration\n- Compelling call-to-action inclusion\n\n### Performance Tracking\n- Engagement rates by platform and content type\n- Click-through rates on CTAs\n- Reach metrics within {{ $json.TARGET_LOCATION }}\n- Audience growth indicators\n- Conversion attribution to business goals\n\n## 12. Your Mission as Nova\n\nYou are a strategic content creator focused on building authentic connections between brands and their audiences across LinkedIn and Facebook. Every campaign should:\n\n- **Inform** with valuable, researched insights relevant to {{ $json.INDUSTRY }}\n- **Engage** through platform-appropriate storytelling that resonates with {{ $json.TARGET_DEMOGRAPHICS }}\n- **Inspire** action toward {{ $json.DESIRED_OUTCOME }}\n- **Reflect** the brand's authentic personality through {{ $json.BRAND_VOICE }}\n- **Connect** with customer needs by addressing {{ $json.CUSTOMER_CHALLENGE }}\n\nYour capabilities empower you to create content that resonates:\n- **Strategic Thinking** = Foundation for effective content\n- **Web Research** = Current, credible insights\n- **Creative Execution** = Platform-optimized, conversion-focused content\n\n**REMEMBER: All image prompts must be 100% text-free. Visual storytelling through imagery, colors, composition, and symbols ONLY.**\n\nLet's create content that builds lasting relationships between {{ $json.BRAND_NAME }} and {{ $json.TARGET_DEMOGRAPHICS }} in {{ $json.TARGET_LOCATION }}! ✨"
        }
      },
      "id": "9eb713e5-be6c-4231-ba9d-db96d7be0143",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1920,
        1536
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"campaign_theme\": \"Seasonal wellness support and personalized healthcare\",\n  \"posts\": [\n    {\n      \"platform\": \"linkedin\",\n      \"post_text\": \"As healthcare professionals, we're seeing increased demand for personalized wellness solutions this season. Our holistic approach addresses the growing gap in patient-centered care. Industry data shows 73% of patients feel unheard in traditional settings - we're changing that narrative. How is your organization adapting to patient-centered care demands? #HolisticHealthcare #HealthcareInnovation #PatientCare #AustinHealthcare\",\n      \"style\": \"infographic_data_viz\",\n      \"aspect_ratio\": \"1:1\",\n      \"image_prompt\": \"Professional healthcare infographic showing patient satisfaction statistics, holistic care approach workflow, clean medical design with calming blues and healing greens, modern typography, professional medical icons, data visualization showing improved outcomes with personalized care\",\n      \"overlay_text\": \"73% want personalized care\",\n      \"posting_date\": \"2025-08-20\"\n    },\n    {\n      \"platform\": \"linkedin\", \n      \"post_text\": \"The future of healthcare is personalized. At our clinic, we're seeing remarkable outcomes when patients feel truly heard and understood. Our approach treats the whole person, not just symptoms - resulting in better health outcomes and patient satisfaction. What does personalized healthcare mean for your practice? #HealthcareLeadership #PersonalizedMedicine #AustinBusiness #HealthcareInnovation\",\n      \"style\": \"hyperrealistic_photography\",\n      \"aspect_ratio\": \"1:1\", \n      \"image_prompt\": \"Professional healthcare consultation scene, diverse healthcare provider and patient in modern Austin clinic, natural lighting, both looking engaged and confident, medical charts visible, professional atmosphere showing active listening and care\",\n      \"overlay_text\": \"Future of personalized care\",\n      \"posting_date\": \"2025-08-22\"\n    },\n    {\n      \"platform\": \"linkedin\",\n      \"post_text\": \"Transforming healthcare through personalized approaches isn't just a trend - it's essential. We've developed a comprehensive model that addresses feeling unheard in traditional healthcare settings while delivering optimal health through personalized care. The evidence speaks for itself: patients thrive when they feel heard. #HealthcareTransformation #HolisticHealthcare #PatientOutcomes #ProfessionalDevelopment\",\n      \"style\": \"3d_rendered_scene\",\n      \"aspect_ratio\": \"1:1\",\n      \"image_prompt\": \"3D rendered healthcare transformation concept, abstract human figure evolving from stressed to healthy, surrounded by holistic care elements (wellness symbols, medical icons), professional calming color palette, modern medical aesthetic\",\n      \"overlay_text\": \"Healthcare transformation\",\n      \"posting_date\": \"2025-08-24\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"Feeling unheard in traditional healthcare settings? You're not alone. 🌱 We believe every person deserves to be truly listened to. Our personalized approach means your unique health journey gets the attention it deserves. 'I finally found healthcare that listens!' - Sarah M., Austin Ready for care that puts YOU first? #Austin #PersonalizedCare #HolisticHealth #Community #ListenFirst\",\n      \"style\": \"lifestyle_illustration\",\n      \"aspect_ratio\": \"3:4\", \n      \"image_prompt\": \"Warm illustrated scene of diverse people in Austin feeling heard and cared for, showing various ages including health-conscious adults 25-55, community clinic setting, soft healing colors, people looking relieved and happy, welcoming atmosphere\",\n      \"overlay_text\": \"You deserve to be heard\",\n      \"posting_date\": \"2025-08-26\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"When Maria walked into our clinic, she was frustrated with feeling like 'just another number' in healthcare. Six months later: 'I have energy I haven't felt in years!' 💪 That's the power of personalized healthcare that treats the whole person. Your story matters. Your health matters. You matter. Book your consultation today! #AustinHealth #CustomerStories #PersonalizedCare #CommunityHealth #YourStoryMatters\",\n      \"style\": \"hyperrealistic_photography\", \n      \"aspect_ratio\": \"3:4\",\n      \"image_prompt\": \"Genuine photo of happy patient Maria (Hispanic woman, 40s) at wellness clinic, natural smile, holding consultation paperwork, Austin clinic background, authentic joy and relief in expression, professional but warm setting\",\n      \"overlay_text\": \"Your story matters\",\n      \"posting_date\": \"2025-08-28\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"The numbers don't lie - but your experience matters more 📊 While 73% of people feel unheard in traditional healthcare, 96% of our patients report feeling truly listened to. Join the families in Austin who chose personalized care over one-size-fits-all medicine. Because you're not average - you're unique! #CommunityHealth #PersonalizedCare #Austin #HealthcareYouDeserve #NotJustANumber\",\n      \"style\": \"infographic_data_viz\",\n      \"aspect_ratio\": \"3:4\",\n      \"image_prompt\": \"Friendly infographic comparing traditional vs personalized healthcare, happy faces representing satisfied patients, community-focused design with Austin elements, warm colors, accessible data presentation, family-friendly aesthetic\",\n      \"overlay_text\": \"96% feel truly heard\",\n      \"posting_date\": \"2025-08-30\"\n    }\n  ],\n  \"random_number\": \"847291038529\"\n}",
        "autoFix": true
      },
      "id": "6df10726-71b8-4c7d-b0e2-61bfe02932f5",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1680,
        1712
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12341234"
      },
      "id": "b29f8639-79d3-4891-b331-150b92fab043",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2064,
        1712
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "1c051692-0172-4027-8efe-90497b6a79ea",
      "name": "Think1",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -1952,
        1712
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.posts",
        "include": "selectedOtherFields",
        "fieldsToInclude": "output.campaign_theme",
        "options": {}
      },
      "id": "8a2cdfd5-536a-4ec7-9cff-a792425a841a",
      "name": "Split Out3",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1376,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e8ccfc2-9e83-45da-bc06-b79cf101fe65",
              "name": "BRAND_NAME",
              "type": "string",
              "value": "=Camairetech"
            },
            {
              "id": "9cb5c8f3-6748-42c2-b443-cfe98c40b31d",
              "name": "INDUSTRY",
              "type": "string",
              "value": "A digital agency that provide marketing and software development for companies that seek for this services"
            },
            {
              "id": "25b7463d-32c6-4780-9c4f-80011b6b96e8",
              "name": "TARGET_DEMOGRAPHICS",
              "type": "string",
              "value": "=24 a 45"
            },
            {
              "id": "9fec2287-55c0-48a9-9547-68991bcdf1e6",
              "name": "TARGET_LOCATION",
              "type": "string",
              "value": "=france, canada , cameroon"
            },
            {
              "id": "26aee9c2-3e1c-4b0e-b689-87266ac0956e",
              "name": "PRIMARY_VALUE_PROPOSITION",
              "type": "string",
              "value": "={{ $json.output[0].PROPOSITION_DE_VALEUR_PRINCIPALE }}"
            },
            {
              "id": "5fa1582d-b29d-49e4-a6ba-621426c728db",
              "name": "CUSTOMER_CHALLENGE",
              "type": "string",
              "value": "={{ $json.output[0].DEFI_CLIENT }}"
            },
            {
              "id": "36f2ab45-b8fc-4f69-adea-1f29ea27ae97",
              "name": "DESIRED_OUTCOME",
              "type": "string",
              "value": "={{ $json.output[0].OBJECTIF_RECHERCHE }}"
            },
            {
              "id": "7c1f5ea6-3fdd-40b3-9fe4-beb6680b400c",
              "name": "BRAND_VOICE",
              "type": "string",
              "value": "={{ $json.output[0].MARQUE_VOIX }}"
            },
            {
              "id": "8ec063e2-3c74-4602-a688-95d3ab97f3ac",
              "name": "SPECIFIC_TOPICS_TO_FOCUS",
              "type": "string",
              "value": "={{ $json.output[0].SUJETS_SPECIFIQUES_A_METTRE_EN_AVANT }}"
            },
            {
              "id": "9769c3fd-6a81-4817-98b6-3e1d949fc69b",
              "name": "Style image Facebook",
              "value": "={{ $json.output[0].STYLE_IMAGE_FACEBOOK }}",
              "type": "string"
            },
            {
              "id": "abcca4c1-ba74-460e-9aa4-86fdd4a4af0b",
              "name": "Style image Linkedin",
              "value": "={{ $json.output[0].STYLE_IMAGE_LINKEDIN }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cac8438a-c5c9-4783-af5b-3d5bc0f068ea",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -2224,
        1536
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## DEFINE YOUR VARIABLES\n\n- BRAND_NAME: \n- INDUSTRY: \n- TARGET_DEMOGRAPHICS: \n- TARGET_LOCATION: \n- PRIMARY_VALUE_PROPOSITION: \n- CUSTOMER_CHALLENGE: \n- DESIRED_OUTCOME: \n- BRAND_VOICE: \n",
        "height": 1360,
        "width": 992
      },
      "id": "262f6ae0-41e9-4974-a34c-af48d6e66fd2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Nova - AI Content Marketing Agent\n\n🚀 AI-POWERED CONTENT CREATION\n\nNova transforms your brand variables into high-converting social media content with 4 visual variations.\n\n📊 WHAT NOVA CREATES:\n- Compelling post copy with emojis & hashtags\n- 4 distinct image styles (photo, infographic, 3D, illustration)  \n- Strategic overlay text for each image\n- Posting dates for scheduling\n- Ready-to-use JSON output\n\n🧠 HOW IT WORKS:\n1. Analyzes your brand variables\n2. Applies proven frameworks (PAS, StoryBrand, BAB)\n3. Researches current trends (when needed)\n4. Generates cohesive campaign content\n5. Outputs structured data for automation\n\n⚡ RESULT: Complete social media campaign ready for posting!",
        "height": 1024,
        "width": 864,
        "color": 3
      },
      "id": "1569129c-a459-48ef-bc66-e743c2f9ae62",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2304,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Imagen4 for Image Generation",
        "height": 432,
        "width": 192,
        "color": 4
      },
      "id": "0cb25cec-ba80-40f6-a3fa-78eca650690e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Split Array in single items\n",
        "height": 880,
        "width": 176,
        "color": 4
      },
      "id": "63448dd7-47e1-4fe9-a396-69f9408f0507",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Download File\n\n",
        "height": 432,
        "width": 192,
        "color": 4
      },
      "id": "79d326b6-5354-4ed4-887a-9cbd960ec297",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send Images for Approval, one at the time. If approved, move on adn send next after scheduled, if not approved, generate new one with provided feedback, and sent back for approval again.",
        "height": 432,
        "width": 944,
        "color": 5
      },
      "id": "31618678-833a-4316-99e2-9235391ef67d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Download Final File\n\n",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "id": "b61646ba-4983-40a7-988a-b288303cc487",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Switch between LinkedIn and Facebook/Instagram\n",
        "height": 880,
        "width": 272,
        "color": 4
      },
      "id": "8f7cb532-a99a-4073-8d79-3829ae07a915",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1eeced7-8af7-4491-bc27-aa7f5a13a351",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json['output.posts'].platform }}",
                    "rightValue": "facebook"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e6aa506c-4049-4041-9862-fdd7498b56b9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json['output.posts'].platform }}",
                    "rightValue": "linkedin"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            }
          ]
        },
        "options": {}
      },
      "id": "5ea14e47-2ce0-4585-b6a4-6ac68adefb61",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1120,
        1536
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n   \"prompt\": \"Utilise les données suivantes issues d’Airtable pour personnaliser le visuel de campagne de manière professionnelle.\\n\\nLogo :{{ $json.Logo[0].url }} \\nNom de l’entreprise :{{ $json['Nom de l\\'entreprise'] }}\\nTéléphone :{{ $json['Téléphone'] }} \\nEmail :{{ $json.Mail }} \\nSite Web :{{ $json['Site Web'] }} Contenu:{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\\n\\n🎨 Instructions de design :\\n1. Intègre le logo de l’entreprise dans le visuel, placé en haut à gauche ou en haut au milieu selon la composition du modèle, de manière discrète et élégante tout en adaptant la taille du logo en fonction du modele.integrer le contenu au milieu un peu en haut selon la composition du modèle de l'image.\\n2. Affiche clairement les informations de contact (téléphone, email, site web, adresse) dans une zone propre et lisible, avec une typographie cohérente.\\n3. Si certains champs sont vides, n’affiche rien à leur place.\\n4. Conserve le style visuel du modèle (couleurs, typographie, mise en page).\\n5. Assure-toi que le rendu final soit harmonieux, équilibré et professionnel.\\n\\nNe modifie pas le fond ni la structure graphique de base du modèle.\",\n    \"image_input\": [\n      \"{{ $json.Logo[0].url }}\",\n      \"{{ $json.Logo[1].url }}\",\n      \"{{ $json.Logo[2].url }}\",\n      \"{{ $('Download Image 1st 2').item.json.output }}\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "id": "c08da021-1897-4bcc-a831-58564ac33e39",
      "name": "Edit Image Nano Banana",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1712
      ],
      "typeVersion": 4.2,
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "TPdPH82dnAv6nexJ",
          "name": "VEO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/imagen-4-ultra/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json['output.posts'].image_prompt }}; Style:{{ $json['output.posts'].style }}; Overlay Text:{{ $json['output.posts'].overlay_text }}\",\n    \"aspect_ratio\": \"{{ $json['output.posts'].aspect_ratio }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "859591b5-3e11-405d-a318-f4c0797eaecb",
      "name": "Image Generation 2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -464,
        1712
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CqEDUnbLf4avzH7V",
          "name": "Demo Upload Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {}
      },
      "id": "dd1ab593-93fc-4f87-89e5-841c78abeee1",
      "name": "Download Image 1st 2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -256,
        1712
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Google Imagen4 for Image Generation",
        "height": 432,
        "width": 192,
        "color": 4
      },
      "id": "6d51e513-d0ea-492f-939a-418a0922c5c2",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Download File\n\n",
        "height": 432,
        "width": 192,
        "color": 4
      },
      "id": "d344f7b3-c52d-496d-9d97-55c4d7b6d030",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send Images for Approval, one at the time. If approved, move on adn send next after scheduled, if not approved, generate new one with provided feedback, and sent back for approval again.",
        "height": 464,
        "width": 992,
        "color": 5
      },
      "id": "de0b60a8-d901-4cc8-bb21-9be113bc2fa6",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![My Image](https://i.postimg.cc/2y9wrFVv/Chat-GPT-Image-Sep-8-2025-10-52-28-PM.png)",
        "height": 832,
        "width": 816,
        "color": 7
      },
      "id": "988db2e9-a20a-4304-8243-531828f830e8",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## NanoBanana for Image Editing after user's feedback\n\n",
        "height": 448,
        "width": 224,
        "color": 4
      },
      "id": "aae4aac0-c89a-4685-95ee-d88ca05d22d6",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Switch to Edited or Original\n\n",
        "height": 448,
        "width": 224,
        "color": 4
      },
      "id": "63328d40-2ef1-42c6-9bd6-4407d71be7b5",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Switch to Edited or Original\n\n",
        "height": 432,
        "width": 208,
        "color": 4
      },
      "id": "a5ec3c6a-ad8f-4bd4-9f20-de3b7eb74674",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.1-chat-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2208,
        1728
      ],
      "id": "2e7ad061-e968-470c-8b9a-9df0828d3083",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CbsD1JY0EilCzfq6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1840
      ],
      "id": "f02084bc-b637-458d-88d9-1e9005d2d125",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CbsD1JY0EilCzfq6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appTi4v32T5OK9vin",
          "mode": "list",
          "cachedResultName": "CAMAIRETECH",
          "cachedResultUrl": "https://airtable.com/appTi4v32T5OK9vin"
        },
        "table": {
          "__rl": true,
          "value": "tblfntdYSTf03aeJ3",
          "mode": "list",
          "cachedResultName": "Info_Entreprise",
          "cachedResultUrl": "https://airtable.com/appTi4v32T5OK9vin/tblfntdYSTf03aeJ3"
        },
        "id": "recB8YzDjjc3eXfy1",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -384,
        1248
      ],
      "id": "fef086a9-3340-42cd-a6b7-9f018bdc2b37",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "BfYJv5bOr5u9rg06",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [\n        {\n            \"parts\": [\n                {\n                    \"inlineData\": {\n                        \"mimeType\": \"{{ $('Edit Fields1').item.json.mimeType }}\", \n                        \"data\": \"{{ $('Edit Fields1').item.json.base64Data }}\" \n                    }\n                },\n\n\n                {\n                    \"text\": \"Utilise les données suivantes pour personnaliser le visuel de campagne de manière professionnelle.\\n\\nLogo (à intégrer): {{ $json.Logo[0].url }} \\nNom de l’entreprise:{{ $json['Nom de l\\'entreprise'] }} \\nTéléphone:{{ $json['Téléphone'] }} \\nEmail: {{ $json.Mail }}\\nSite Web: / {{ $json['Site Web'] }}\\nContenu:{{ $('Edit Fields').item.json.SPECIFIC_TOPICS_TO_FOCUS }} \\n\\n🎨 Instructions de design :\\n1. Intègre le logo (URL_OR_BASE64_OF_LOGO_1) dans le visuel, placé en haut à gauche ou en haut au milieu, de manière discrète et élégante. Adapte la taille du logo en fonction du modèle.\\n2. Intègre le Contenu (CONTENU_SPECIFIQUE_A_INTEGRER) au milieu, un peu en haut selon la composition du modèle de l'image.\\n3. Affiche clairement les informations de contact (téléphone, email, site web) dans une zone propre et lisible, avec une typographie cohérente.\\n4. Si certains champs sont vides, n’affiche rien à leur place.\\n5. Conserve le style visuel du modèle (couleurs, typographie, mise en page).\\n6. Assure-toi que le rendu final soit harmonieux, équilibré et professionnel.\\n\\nNe modifie pas le fond ni la structure graphique de base du modèle.\"\n                }\n            ]\n        }\n    ],\n    \"generationConfig\": {\n        \"responseMimeType\": \"image/jpeg\",\n        \"responseModalities\": [\n            \"IMAGE\"\n        ],\n        \"imageConfig\": {\n            \"aspectRatio\": \"{{ $('Switch').item.json['output.posts'].aspect_ratio }}\",\n        }\n    }\n}",
        "options": {}
      },
      "id": "c30e1b55-9d1b-4ce7-8b14-3901102514b9",
      "name": "Edit Image Nano Banana3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -64,
        1264
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "W48YMy1dEfU0IRVg",
          "name": "Nano Banana Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m3n4o5p6",
              "name": "final_image_url",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "q7r8s9t0",
              "name": "image_source",
              "type": "string",
              "value": "edited"
            }
          ]
        },
        "options": {}
      },
      "id": "5b05818a-edd3-492d-bc11-9fb38af82025",
      "name": "Set Edited Image URL2",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        1264
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bb30e21-45bf-4508-aa14-32b8fbb5e290",
              "name": "Facebook",
              "value": "={{ $json.by.facebook[0].id }}",
              "type": "string"
            },
            {
              "id": "9b0d526c-0afe-42e5-ac47-fd884d490bc9",
              "name": "Google",
              "value": "={{ $json.by.google[0].id }}",
              "type": "string"
            },
            {
              "id": "23ebd065-1bc9-49c2-b41e-1db486907f4c",
              "name": "Instagram",
              "value": "={{ $json.by.instagram[0].id }}",
              "type": "string"
            },
            {
              "id": "de1c5f23-5619-4ac0-bc8d-b583f6973033",
              "name": "TikTok",
              "value": "={{ $json.by.tiktok[0].id }}",
              "type": "string"
            },
            {
              "id": "49f04c05-bdd0-464a-9e58-3db95991b04e",
              "name": "location_id",
              "value": "={{ $('Set HL ids').item.json.location_id }}",
              "type": "string"
            },
            {
              "id": "1e2316ec-2c93-4d9a-a3f6-7f684539a06b",
              "name": "hl_api",
              "value": "={{ $('Set HL ids').item.json.hl_api }}",
              "type": "string"
            },
            {
              "id": "ccc81042-5f66-4ec3-be01-9b9791348f91",
              "name": "=formatted_date",
              "value": "={{ $('Format_Date1').item.json.formatted_date }}",
              "type": "string"
            },
            {
              "id": "c6c3c007-54dc-4dc3-8deb-a5c9f3e80344",
              "name": "Pinterest",
              "value": "={{ $json.by.pinterest[0].id }}",
              "type": "string"
            },
            {
              "id": "9db647f5-85c2-4a5a-bed1-f6a8cacf1875",
              "name": "Youtube",
              "value": "={{ $('Get Account IDs').item.json.results.accounts[3].id }}",
              "type": "string"
            },
            {
              "id": "f7f77b83-363c-4f1c-a602-1398b259470b",
              "name": "LinkedIn",
              "value": "={{ $json.by.linkedin[0].id }}",
              "type": "string"
            },
            {
              "id": "b7e54fd2-9095-41df-9eb1-5e24b06d57fd",
              "name": "Bluesky",
              "value": "={{ $json.by.bluesky[0].id }}",
              "type": "string"
            },
            {
              "id": "6cfd0cd3-157a-490e-8a49-eff0500e7349",
              "name": "Threads",
              "value": "={{ $json.by.threads[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        1008
      ],
      "id": "567d4b45-2e1e-4ecd-88f0-6007fd3504e8",
      "name": "Set IDs"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst extractAccountIdsByPlatform = jsonData => {\n  const data = Array.isArray(jsonData) ? jsonData[0] : jsonData;\n  if (!data['success'] || !data['results'] || !data['results']['accounts']) {\n    throw new Error('Invalid response format or unsuccessful API call');\n  }\n  const accounts = data['results']['accounts'];\n  const platforms = ['facebook', 'google', 'instagram', 'tiktok', 'pinterest', 'linkedin','threads','bluesky'];\n  const platformAccounts = Object.fromEntries(\n    platforms.map(p => [p, accounts.filter(account => (account['platform'] || '').toLowerCase() === p).map(account => ({\n      id: account['id'],\n      originId: account['originId'],\n      name: account['name'],\n      type: account['type'],\n      isExpired: account['isExpired']\n    }))])\n  );\n  return platformAccounts;\n};\nconst getAccountIdsByPlatform = (jsonData, platform) => {\n  const platformAccounts = extractAccountIdsByPlatform(jsonData);\n  const platformKey = (platform || '').toLowerCase();\n  if (!Object.prototype.hasOwnProperty.call(platformAccounts, platformKey)) {\n    throw new Error('Platform ' + platform + ' not supported. Available platforms: ' + Object.keys(platformAccounts).join(', '));\n  }\n  return platformAccounts[platformKey].map(account => account['id']);\n};\nconst getAllAccountIds = jsonData => {\n  const platformAccounts = extractAccountIdsByPlatform(jsonData);\n  return Object.fromEntries(\n    Object.keys(platformAccounts).map(platform => [platform, platformAccounts[platform].map(account => account['id'])])\n  );\n};\nreturn items.map(item => {\n  const jsondata = item.json?.jsondata || item.json;\n  const byPlatform = extractAccountIdsByPlatform(jsondata);\n  const allIds = getAllAccountIds(jsondata);\n  const facebookIds = getAccountIdsByPlatform(jsondata, 'facebook');\n  const instagramIds = getAccountIdsByPlatform(jsondata, 'instagram');\n  return {\n    json: {\n      by: byPlatform,\n      allIds: allIds,\n      facebookIds: facebookIds,\n      instagramIds: instagramIds\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        1008
      ],
      "id": "4bca0428-30b2-4841-bbcb-d5dc8d00c2ad",
      "name": "HL_Accounts"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const now = new Date();\n  now.setDate(now.getDate()+1); // Ajoute un jour\n  const formatted_date = now.toISOString();\n  const caption = $input.first().json.Caption ;// Format ISO\n  return {\n    json: {\n      formatted_date,\n      caption,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1008
      ],
      "id": "9c31e79e-a96f-4510-80f4-318e4233054f",
      "name": "Format_Date1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b09f1ab1-5952-4f49-b8cc-99c746740a0e",
              "name": "location_id",
              "value": "9Q7sZNvNHej9SpJK9Iq7",
              "type": "string"
            },
            {
              "id": "25955802-21c6-4995-995e-6d211c7b43be",
              "name": "hl_api",
              "value": "pit-9ce81d88-ebb4-4919-94e3-fcfd0229fc4b",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        1008
      ],
      "id": "07de3468-841a-4eb0-94fb-4251ddbf71e0",
      "name": "Set HL ids"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        1008
      ],
      "id": "8b820f5d-2619-4c34-b654-ec4d740ba9e0",
      "name": "Get Account IDs"
    },
    {
      "parameters": {
        "height": 300,
        "width": 1652
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        896
      ],
      "id": "8c9c2549-23b2-4d9a-9f6d-e5229a6f97ad",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Traite le texte suivant provenant de {{ $('Split Out3').item.json[\"output.posts\"].post_text }} en respectant strictement les règles ci-dessous :\n\nRègles obligatoires :\n- Résume en un paragraphe\n- Ne pas retirer les hashtags\n- Ne pas modifier le contexte du contenu d'origine\n- Supprime intégralement les mots ou segments suivants s'ils sont présents dans le texte : Hook, Probleme, Agitation, Solution, Preuve sociale, CTA\n\n🔒 Sortie attendue :\nLe texte corrigé selon les règles ci-dessus, sans ajout ni suppression autre que celles strictement demandées."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2800,
        1008
      ],
      "id": "23db543f-4380-41cb-97dc-b884cdca19dc",
      "name": "Making Slug1",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "oONGaz0cGb50NTak",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appwUV3yoTPVFNe4L",
          "mode": "list",
          "cachedResultName": "Scrapper Youtube & Insta ( SIB FLOW)) ",
          "cachedResultUrl": "https://airtable.com/appwUV3yoTPVFNe4L"
        },
        "table": {
          "__rl": true,
          "value": "tblfntdYSTf03aeJ3",
          "mode": "list",
          "cachedResultName": "Info_Entreprise",
          "cachedResultUrl": "https://airtable.com/appwUV3yoTPVFNe4L/tblfntdYSTf03aeJ3"
        },
        "id": "recB8YzDjjc3eXfy1",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16,
        1712
      ],
      "id": "eca5d6bc-9c64-4cff-a333-81a684aab4f4",
      "name": "Get a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "BfYJv5bOr5u9rg06",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m3n4o5p6",
              "name": "final_image_url",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "q7r8s9t0",
              "name": "image_source",
              "type": "string",
              "value": "edited"
            }
          ]
        },
        "options": {}
      },
      "id": "a1c91c65-034d-4b8d-86da-55e3b8839aa8",
      "name": "Set Edited Image URL",
      "type": "n8n-nodes-base.set",
      "position": [
        752,
        1728
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bb30e21-45bf-4508-aa14-32b8fbb5e290",
              "name": "Facebook",
              "value": "={{ $json.by.facebook[0].id }}",
              "type": "string"
            },
            {
              "id": "9b0d526c-0afe-42e5-ac47-fd884d490bc9",
              "name": "Google",
              "value": "={{ $json.by.google[0].id }}",
              "type": "string"
            },
            {
              "id": "23ebd065-1bc9-49c2-b41e-1db486907f4c",
              "name": "Instagram",
              "value": "={{ $json.by.instagram[0].id }}",
              "type": "string"
            },
            {
              "id": "de1c5f23-5619-4ac0-bc8d-b583f6973033",
              "name": "TikTok",
              "value": "={{ $json.by.tiktok[0].id }}",
              "type": "string"
            },
            {
              "id": "49f04c05-bdd0-464a-9e58-3db95991b04e",
              "name": "location_id",
              "value": "={{ $('Set HL ids2').item.json.location_id }}",
              "type": "string"
            },
            {
              "id": "1e2316ec-2c93-4d9a-a3f6-7f684539a06b",
              "name": "hl_api",
              "value": "={{ $('Set HL ids2').item.json.hl_api }}",
              "type": "string"
            },
            {
              "id": "ccc81042-5f66-4ec3-be01-9b9791348f91",
              "name": "=formatted_date",
              "value": "={{ $('Format_Date2').item.json.formatted_date }}",
              "type": "string"
            },
            {
              "id": "c6c3c007-54dc-4dc3-8deb-a5c9f3e80344",
              "name": "Pinterest",
              "value": "={{ $json.by.pinterest[0].id }}",
              "type": "string"
            },
            {
              "id": "9db647f5-85c2-4a5a-bed1-f6a8cacf1875",
              "name": "Youtube",
              "value": "={{ $('Get Account IDs2').item.json.results.accounts[3].id }}",
              "type": "string"
            },
            {
              "id": "f7f77b83-363c-4f1c-a602-1398b259470b",
              "name": "LinkedIn",
              "value": "={{ $json.by.linkedin[0].id }}",
              "type": "string"
            },
            {
              "id": "200fed43-d10e-43aa-8508-45442bd01e77",
              "name": "Threads",
              "value": "={{ $json.by.threads[0].id }}",
              "type": "string"
            },
            {
              "id": "00166e78-5c41-4a6b-99cc-850cd545e5e6",
              "name": "Bluesky",
              "value": "={{ $json.by.bluesky[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        2032
      ],
      "id": "5778ed55-4c1a-4ed0-8993-54b4c7220995",
      "name": "Set IDs2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst extractAccountIdsByPlatform = jsonData => {\n  const data = Array.isArray(jsonData) ? jsonData[0] : jsonData;\n  if (!data['success'] || !data['results'] || !data['results']['accounts']) {\n    throw new Error('Invalid response format or unsuccessful API call');\n  }\n  const accounts = data['results']['accounts'];\n  const platforms = ['facebook', 'google', 'instagram', 'tiktok', 'pinterest', 'linkedin','threads','bluesky'];\n  const platformAccounts = Object.fromEntries(\n    platforms.map(p => [p, accounts.filter(account => (account['platform'] || '').toLowerCase() === p).map(account => ({\n      id: account['id'],\n      originId: account['originId'],\n      name: account['name'],\n      type: account['type'],\n      isExpired: account['isExpired']\n    }))])\n  );\n  return platformAccounts;\n};\nconst getAccountIdsByPlatform = (jsonData, platform) => {\n  const platformAccounts = extractAccountIdsByPlatform(jsonData);\n  const platformKey = (platform || '').toLowerCase();\n  if (!Object.prototype.hasOwnProperty.call(platformAccounts, platformKey)) {\n    throw new Error('Platform ' + platform + ' not supported. Available platforms: ' + Object.keys(platformAccounts).join(', '));\n  }\n  return platformAccounts[platformKey].map(account => account['id']);\n};\nconst getAllAccountIds = jsonData => {\n  const platformAccounts = extractAccountIdsByPlatform(jsonData);\n  return Object.fromEntries(\n    Object.keys(platformAccounts).map(platform => [platform, platformAccounts[platform].map(account => account['id'])])\n  );\n};\nreturn items.map(item => {\n  const jsondata = item.json?.jsondata || item.json;\n  const byPlatform = extractAccountIdsByPlatform(jsondata);\n  const allIds = getAllAccountIds(jsondata);\n  const facebookIds = getAccountIdsByPlatform(jsondata, 'facebook');\n  const instagramIds = getAccountIdsByPlatform(jsondata, 'instagram');\n  return {\n    json: {\n      by: byPlatform,\n      allIds: allIds,\n      facebookIds: facebookIds,\n      instagramIds: instagramIds\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        2032
      ],
      "id": "e1963acf-2e10-4a50-87f2-65bc0a784ca4",
      "name": "HL_Accounts2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const now = new Date();\n  now.setDate(now.getDate()+ 2); // Ajoute un jour\n  const formatted_date = now.toISOString();\n  const caption = $input.first().json.Caption ;// Format ISO\n  return {\n    json: {\n      formatted_date,   \n      caption,  \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        2032
      ],
      "id": "fe9a36b5-e245-416f-b164-398967da0f81",
      "name": "Format_Date2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b09f1ab1-5952-4f49-b8cc-99c746740a0e",
              "name": "location_id",
              "value": "9Q7sZNvNHej9SpJK9Iq7",
              "type": "string"
            },
            {
              "id": "25955802-21c6-4995-995e-6d211c7b43be",
              "name": "hl_api",
              "value": "pit-9ce81d88-ebb4-4919-94e3-fcfd0229fc4b",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        2032
      ],
      "id": "761bbcbb-3754-472f-92b2-1f93de4246cc",
      "name": "Set HL ids2"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        2032
      ],
      "id": "ab347530-c8d5-4ab4-bc77-d0b7ec2bc616",
      "name": "Get Account IDs2"
    },
    {
      "parameters": {
        "height": 316,
        "width": 1652
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        1920
      ],
      "id": "e88580ff-7ead-4b78-b4e6-8a30bc1e4796",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Traite le texte suivant provenant de {{ $('Split Out3').item.json[\"output.posts\"].post_text }} en respectant strictement les règles ci-dessous :\n\nRègles obligatoires :\n- Résume en un paragraphe\n- Ne pas retirer les hashtags\n- Ne pas modifier le contexte du contenu d'origine\n- Supprime intégralement les mots ou segments suivants s'ils sont présents dans le texte : Hook, Probleme, Agitation, Solution, Preuve sociale, CTA\n\n🔒 Sortie attendue :\nLe texte corrigé selon les règles ci-dessus, sans ajout ni suppression autre que celles strictement demandées."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2608,
        2032
      ],
      "id": "d5096fb3-a64d-4ceb-a83b-c84ed48ef8b5",
      "name": "Making Slug2",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "oONGaz0cGb50NTak",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"DEFI_CLIENT\": \"Moins de 13 mots\",\n    \"OBJECTIF_RECHERCHE\": \"Moins de 5 mots\",\n    \"SUJETS_SPECIFIQUES_A_METTRE_EN_AVANT\": \"Style court, percutant, immersif\",\n    \"PROPOSITION_DE_VALEUR_PRINCIPALE\":\"Met en avant le bénéfice concret ou la transformation promise. Doit être claire\",\n    \"MARQUE_VOIX\":\"doit s'accorder avec l'idée\",\n    \"STYLE_IMAGE_FACEBOOK\":\"Detailed prompt for 3D scene style\",\n    \"STYLE_IMAGE_LINKEDIN\":\"Detailed prompt for 3D scene style\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2592,
        1280
      ],
      "id": "4ec1b2f6-dd16-4773-8061-a29cf329ca86",
      "name": "Parser: Extract JSON from Idea"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your objectif is To create high-impact, original content for LinkedIn, Facebook, and other relevant social platforms (Instagram, TikTok) that strategically highlights CamaireTech's services and value proposition. The content must drive organic engagement and position CamaireTech as an authority in digital solutions around the world.\n\nSource Information (CamaireTech Core Services):\n\nThe content must be rooted in the following core services offered by CamaireTech:\n\nHigh-Conversion Platforms: Modern, custom multi-platform software (mobile, web, desktop) and website development, with a focus on UI/UX Design and performance optimization.\n\nStrategic Branding: Crafting cohesive Visual Identities (logos, palettes) and utilizing the Branding Matrix to build a strong foundation.\n\nOnline Visibility & Marketing: Implementing effective strategies for Social Media Campaigns, creating personalized content, driving engagement, and providing Campaign Analytics (e.g., Google Analytics integration).\n\nProfessional Training (Formation): Offering expertise in strategic branding, content marketing strategies, and software development fundamentals.\n\nContent Requirements & Instructions\n1. Target Audience\nPrimary Audience: Entrepreneurs, Startup Founders, and Small to Medium-sized Business Owners (SMBs).\n\nAudience Goal: Individuals looking to attract qualified clients consistently, increase brand credibility, and establish a digital ecosystem that works 24/7 without depending on heavy investment in paid advertising or manual prospecting.\n\n2. Content Pillars\nPillar 1: Organic Growth & Automation: Focus on how automation (content, workflows, AI-powered tools) reduces manual effort, saves time, and consistently attracts clients.\n\nKeywords: Content Automation, Workflow Efficiency, 24/7 Attraction.\n\nPillar 2: Digital Authority & Conversion: Focus on the strategic value of design and development in converting visitors into clients and establishing market leadership.\n\nKeywords: UI/UX, Brand Credibility, High-Conversion Websites, Multi-Platform Development.\n\nPillar 3: Foundational Strategy: Focus on the importance of strong initial strategy (Branding Analysis, Formation/Training) as the basis for long-term digital success.\n\nKeywords: Strategic Branding, Digital Ecosystem, Visibility.\n\n3. Strategic Focus: The \"Why\"\nAll content must emphasize how CamaireTech's services (Branding, Development, Marketing) combine to create a successful, integrated digital ecosystem.\n\nThe primary value proposition is achieving organic growth, high conversion rates, and a strong professional reputation without reliance on paid advertising.\n\n4. Platform Strategy & Format\nLinkedIn: Focus on Thought Leadership (Articles, Long-form posts, Carousels). Topics should target business owners and entrepreneurs, detailing the strategic \"how-to\" of UI/UX, multi-platform development, and branding analysis.\n\nFacebook/Instagram: Focus on high Visual Engagement (Images, Reels/Stories, Short-form Video). Content should be more relatable, showcasing results (e.g., successful project visuals/mockups) and providing quick, actionable tips on online presence and branding.\n\n5. Story & Post Utilization (Format Requirement)\nPosts (Static/Long-form): Used for sharing deep insights, case studies, service breakdowns (e.g., \"The 4 Steps of the Branding Matrix\"), and announcements. Must include a clear Call-to-Action (CTA).\n\nStories/Reels (Ephemeral/Short-form): Must be used for behind-the-scenes content, quick Q&A sessions (e.g., \"Ask us about UI/UX\"), visual brand showcases, and driving real-time interaction (e.g., polls about website features). Content should be light, genuine, and high-energy.\n\n6. Deliverable\nGenerate three distinct content ideas (one for LinkedIn Post, one for a Facebook Post/Image, and one for a Story/Reel idea suitable for both Facebook/Instagram) that utilize the core CamaireTech service information above.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI designed to generate one idea for immersive, realistic, and actionable professional content, specifically crafted for high-performing social media posts with strong viral potential, based on the topic provided by the user. Your output must be formatted as a JSON array (single line only) and must follow all the rules below: GENERATION RULES (elements): CLIENT_CHALLENGE: Less than 13 words. Describes a concrete challenge or real strategic problem faced by CamaireTech's target audience (Entrepreneurs, SMBs) related to organic growth, branding, or digital conversion. Must be specific and credible (e.g., \"Struggling to attract qualified clients without costly paid ads?\"). TARGET_OBJECTIVE: Less than 5 words. Defines the primary goal of the content (e.g., \"Organic lead generation\", \"Brand authority\", \"Digital conversion\"). KEY_TOPICS_TO_HIGHLIGHT: Short, punchy, immersive style. Must emphasize urgency, emotion, or opportunity related to UI/UX, Automation, or Branding Matrix. Must include one relevant emoji. MAIN_VALUE_PROPOSITION: States the concrete benefit or promised transformation. Must be explicit, results-oriented, and aligned with CamaireTech's services (High-Conversion Platforms, Strategic Branding, Online Visibility). BRAND_VOICE: Defines the CamaireTech visual identity & tone: Modern, tech-forward, professional, and reliable. Blue & orange palette. Expert, innovative, solution-focused. Slight adaptation per platform (dynamic, engaging visuals for Facebook/Instagram Stories; corporate professional for LinkedIn). Subtle brand markers (CamaireTech logo, brand colors, clean typography, digital ecosystem imagery). Conveys: \"Your Success, Our Digital Mission.\" STYLE_IMAGE_FACEBOOK: \"lifestyle_illustration\" STYLE_IMAGE_LINKEDIN: \"Detailed prompt for photography style\" OUTPUT FORMAT (one-line JSON array, no markdown, no line breaks): [ { \"CLIENT_CHALLENGE\": \"\", \"TARGET_OBJECTIVE\": \"\", \"KEY_TOPICS_TO_HIGHLIGHT\": \"\", \"MAIN_VALUE_PROPOSITION\": \"\", \"BRAND_VOICE\": \"\", \"STYLE_IMAGE_FACEBOOK\": \"lifestyle_illustration\", \"STYLE_IMAGE_LINKEDIN\": \"Detailed prompt for photography style\" } ] ⚠️ STRICT RULES: Output must be valid JSON array on one line. No extra fields. No markdown. No line breaks. No explanations. Fields STYLE_IMAGE_FACEBOOK and STYLE_IMAGE_LINKEDIN must contain the exact required strings. Now, generate the JSON output for the following topic:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2832,
        1088
      ],
      "id": "f0939a1e-b7af-4f1e-92cc-6880c8ba4570",
      "name": "AI Agent: Generate Post Concept"
    },
    {
      "parameters": {
        "description": "=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2768,
        1328
      ],
      "id": "937e224d-d9c4-47cd-b046-ee3b92da7934",
      "name": "Tool: Inject Creativity"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3040,
        1088
      ],
      "id": "f075c5c5-1613-4994-a02c-5aabb3834041",
      "name": "Trigger: Run Daily Script Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2928,
        1264
      ],
      "id": "abb8ec79-9b4a-4836-a4cf-a72a3f287464",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NpKKv4fEra1w0hQr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"DEFI_CLIENT\": \"Moins de 13 mots\",\n    \"OBJECTIF_RECHERCHE\": \"Moins de 5 mots\",\n    \"SUJETS_SPECIFIQUES_A_METTRE_EN_AVANT\": \"Style court, percutant, immersif\",\n    \"PROPOSITION_DE_VALEUR_PRINCIPALE\":\"Met en avant le bénéfice concret ou la transformation promise. Doit être claire\",\n    \"MARQUE_VOIX\":\"doit s'accorder avec l'idée\",\n    \"STYLE_IMAGE_FACEBOOK\":\"lifestyle_illustration\",\n    \"STYLE_IMAGE_LINKEDIN\":\"lifestyle_illustration\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2592,
        1680
      ],
      "id": "ce7fa645-3926-4d68-9dec-c90498356cb5",
      "name": "Parser: Extract JSON from Idea1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nTu es l’Expert en Stratégie de Contenu de CamaireTech (Automatisation digitale, développement web/mobile, SEO, et acquisition client organique pour entrepreneurs et PME).\n\nTon objectif est de produire un post LinkedIn complet, optimisé pour un engagement maximal (likes, commentaires, partages), en t’adressant spécifiquement aux entrepreneurs et propriétaires de PME qui voient leur présence digitale comme un véritable actif stratégique capable d’attirer des clients 24/7.\n\nL’automatisation de l’écosystème digital est un levier intelligent : elle génère des prospects qualifiés en continu, réduit la prospection manuelle, améliore la crédibilité en ligne et permet une croissance durable… exactement comme un système qui travaille pendant que l’entrepreneur se concentre sur l’essentiel.\n\nLe sujet de la publication est : {{ $json.TOPIC_DIGITAL_AUTOMATION }}.\n\nTu dois respecter strictement la structure suivante :\n\n1. ACCROCHE (HOOK) (≤10 mots)\n\nUne phrase courte, puissante, qui met en lumière un défi digital fréquent.\n\n2. CORPS DU MESSAGE (4–7 paragraphes courts)\n\nParagraphes de 2–3 lignes maximum\n\nEspaces importants entre chaque paragraphe\n\nLe contenu doit intégrer au moins deux approches parmi :\n\nUn problème digital courant VS une solution automatisée contre-intuitive\n\nUn contraste clair : « Ce que font la majorité » VS « Ce que font ceux qui génèrent des clients automatiquement »\n\nConseils actionnables liés à l’automatisation (SEO, contenu automatisé, IA, Google Business Profile, automatisation des réseaux sociaux)\n\n3. CALL-TO-ACTION (CTA)\n\nInvitation claire à découvrir une ressource (guide, checklist, audit gratuit, mini-formation…)\n\nInclure la validation sociale : “Rejoignez les entrepreneurs qui ont automatisé leur croissance.”\n\nToujours terminer par :\n“Le lien pour accéder à [Nom de la ressource] est disponible en commentaire.”\n\n4. HASHTAGS\n\nCréer 5 à 8 hashtags obligatoirement incluant :\n#CamaireTech, #AutomatisationDigitale, #Afrique, #EntrepreneurAfrique,\n\nceux liés au sujet : SEO, acquisition client, marketing organique, web, IA, croissance digitale, etc.\n\nRÈGLES ABSOLUES\n\nMaximum 500 mots\n\nTon direct, inspirant, visionnaire, adressé en “vous”\n\nPas de jargon complexe\n\nAucune statistique inventée\n\nFocus sur les bénéfices concrets : gain de temps, visibilité, crédibilité, clients générés, constance 24/7\n\nFournir uniquement le texte final du post",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI designed to generate one idea for immersive, realistic, and actionable content, specifically crafted for high-performing professional posts with strong viral potential, based on the topic provided by the user.\n\nYour output must be formatted as a single-line JSON array and must follow exactly all the rules below:\n\nGENERATION RULES (elements):\n\nDEFI_CLIENT\n\nLess than 13 words.\n\nMust describe a real, concrete challenge faced by CamaireTech’s target audience (entrepreneurs, business owners, service providers, startups).\n\nProblem must be specific and credible (e.g., “Low visibility despite constant posting”).\n\nOBJECTIF_RECHERCHE\n\nLess than 5 words.\n\nDefines the main intent of the content (e.g., “Leads”, “Credibility”, “Organic growth”, “Conversion”).\n\nSUJETS_SPECIFIQUES_A_METTRE_EN_AVANT\n\nShort, impactful, immersive.\n\nMust communicate urgency, opportunity, or emotion.\n\nMust include exactly one relevant emoji.\n\nPROPOSITION_DE_VALEUR_PRINCIPALE\n\nHighlights the core benefit or promised transformation.\n\nMust be concrete, explicit, and results-oriented (aligned with automation, SEO, content, digital systems).\n\nMARQUE_VOIX\n\nDefines the CamaireTech brand identity and tone:\n\nClean, modern, professional\n\nBlue & white palette\n\nClear typography\n\nSubtle use of logo and micro-slogan (“Build Smart. Grow Fast.”)\n\nSlightly bolder visuals for Facebook/Instagram, cleaner for LinkedIn\n\nMust visually align with digital excellence and business growth.\n\nSTYLE_IMAGE_FACEBOOK: \"lifestyle_illustration\"\n\nSTYLE_IMAGE_LINKEDIN: \"Detailed prompt for photography style\"\n\nOUTPUT FORMAT (must respect exactly this):\n[\n  {\n    \"DEFI_CLIENT\": \"\",\n    \"OBJECTIF_RECHERCHE\": \"\",\n    \"SUJETS_SPECIFIQUES_A_METTRE_EN_AVANT\": \"\",\n    \"PROPOSITION_DE_VALEUR_PRINCIPALE\": \"\",\n    \"MARQUE_VOIX\": \"\",\n    \"STYLE_IMAGE_FACEBOOK\": \"lifestyle_illustration\",\n    \"STYLE_IMAGE_LINKEDIN\": \"Detailed prompt for photography style\"\n  }\n]\n\n\n⚠️ STRICT RULES\n\nOutput = valid JSON array, single line.\n\nNo line breaks, no markdown.\n\nNo explanations.\n\nField keys must match exactly.\n\nDo not add or modify fields."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2832,
        1488
      ],
      "id": "e24934a2-9e54-4a76-bcfb-d8c2bdbd8ba5",
      "name": "AI Agent: Generate Post Concept1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2768,
        1728
      ],
      "id": "666f7ab5-dd37-420b-b678-72e700215dad",
      "name": "Tool: Inject Creativity1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3040,
        1488
      ],
      "id": "03dec3f4-5fa7-4373-be03-e7f8d310e230",
      "name": "Trigger: Run Daily Script Generator1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2928,
        1664
      ],
      "id": "2f3e0ba3-c092-4574-aa6b-3be70db8e8f9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NpKKv4fEra1w0hQr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"DEFI_CLIENT\": \"Moins de 13 mots\",\n    \"OBJECTIF_RECHERCHE\": \"Moins de 5 mots\",\n    \"SUJETS_SPECIFIQUES_A_METTRE_EN_AVANT\": \"Style court, percutant, immersif\",\n    \"PROPOSITION_DE_VALEUR_PRINCIPALE\":\"Met en avant le bénéfice concret ou la transformation promise. Doit être claire\",\n    \"MARQUE_VOIX\":\"doit s'accorder avec l'idée\",\n    \"STYLE_IMAGE_FACEBOOK\":\"Detailed prompt for infographic style\",\n    \"STYLE_IMAGE_LINKEDIN\":\"Detailed prompt for infographic style\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2528,
        2080
      ],
      "id": "f00ad4dc-8dba-4609-a6bf-ce5decbbeaa8",
      "name": "Parser: Extract JSON from Idea2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI designed to generate one idea for immersive, realistic, and actionable content specifically crafted for high-performing professional posts with strong viral potential, based on the topic provided by the user.\n\nYour output must be formatted as a single-line JSON array and must follow all rules strictly:\n\nGENERATION RULES (elements):\n\nCLIENT_CHALLENGE\n\nLess than 13 words.\n\nDescribes a concrete challenge, real problem, or strategic situation the client faces.\n\nMust be specific and credible (e.g., “Conversion rates dropping despite high website traffic”).\n\nTARGET_OBJECTIVE\n\nLess than 5 words.\n\nDefines the primary goal of the content (e.g., “Lead generation”, “Client conversion”, “Brand authority”).\n\nKEY_TOPICS_TO_HIGHLIGHT\n\nShort, impactful, immersive style.\n\nMust emphasize urgency, emotion, or opportunity.\n\nMust include one relevant emoji.\n\nMAIN_VALUE_PROPOSITION\n\nClearly presents the tangible benefit or promised transformation.\n\nMust be explicit and results-oriented (e.g., “Double your conversion rate in 30 days”).\n\nBRAND_VOICE\n\nDefines the visual identity and branding tone of the generated image.\n\nMust align visually with the company’s values and target audience.\n\nStyle must remain consistent across all visuals (color palette, typography, logo placement).\n\nMust convey professionalism, clarity, and emotional coherence.\n\nShould slightly adapt to the platform (e.g., bolder for Instagram, cleaner for LinkedIn).\n\nMust include subtle brand markers (logo, brand colors, stylistic cues, typography, slogan).\n\nSTYLE_IMAGE_FACEBOOK: \"lifestyle_illustration\" (must contain this exact string).\n\nSTYLE_IMAGE_LINKEDIN: \"Detailed prompt for photography style\" (must contain this exact string).\n\nOUTPUT FORMAT (must be a SINGLE LINE, no markdown, no line breaks):\n[\n  {\n    \"CLIENT_CHALLENGE\":\"Less than 13 words\",\n    \"TARGET_OBJECTIVE\":\"Less than 5 words\",\n    \"KEY_TOPICS_TO_HIGHLIGHT\":\"Short, impactful, immersive sentence with one emoji\",\n    \"MAIN_VALUE_PROPOSITION\":\"Concrete benefit or promised transformation\",\n    \"BRAND_VOICE\":\"Aligned with brand identity and idea\",\n    \"STYLE_IMAGE_FACEBOOK\":\"lifestyle_illustration\",\n    \"STYLE_IMAGE_LINKEDIN\":\"Detailed prompt for photography style\"\n  }\n]\n\n\nSTRICT INSTRUCTIONS:\n\nOutput must be valid JSON.\n\nMust be on a single line.\n\nNo markdown.\n\nNo explanations.\n\nNo extra fields or nested structures.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI designed to generate one idea for immersive, realistic, and actionable content, specifically crafted for high-performing professional posts with strong viral potential, based on the topic provided by the user.\n\nYour output must be formatted as a JSON array (on a single line) and must follow exactly all the rules below:\n\nGENERATION RULES (elements):\n\n1. CLIENT_CHALLENGE:\n- Less than 13 words.\n- Describes a concrete challenge, real problem, or strategic situation faced by the client.\n- Must be specific and credible (e.g., \"Outdated IT infrastructure slowing down business operations\").\n\n2. TARGET_OBJECTIVE:\n- Less than 5 words.\n- Defines the main goal of the content (e.g., \"Lead generation\", \"Client conversion\", \"Tech authority\").\n\n3. KEY_TOPICS_TO_HIGHLIGHT:\n- Short, impactful, and immersive style.\n- Must emphasize urgency, emotion, or opportunity.\n- Must include one relevant emoji.\n\n4. MAIN_VALUE_PROPOSITION:\n- Clearly presents the tangible benefit or promised transformation.\n- Must be explicit and results-oriented (e.g., \"Transform your IT infrastructure in 30 days\").\n\n5. BRAND_VOICE:\n- Defines the visual identity and branding tone for CamairTech.\n- Must visually align with CamairTech's tech-forward, professional, and innovative values.\n- Style should remain consistent across all visuals (modern tech aesthetic, CamairTech color palette, clean typography, professional logo placement).\n- Must convey innovation, reliability, technical expertise, and digital transformation.\n- Should adapt slightly to the platform (e.g., more dynamic for Instagram, more corporate for LinkedIn).\n- Include subtle CamairTech brand markers (logo, brand colors, typography, tech-focused imagery).\n\n6. IMAGE_STYLE_FACEBOOK: \"Detailed prompt for infographic style with CamairTech branding - modern, tech-focused, engaging visual with vibrant colors suitable for Facebook audience\"\n\n7. IMAGE_STYLE_LINKEDIN: \"Detailed prompt for infographic style with CamairTech branding - professional, clean, corporate aesthetic showcasing technical expertise and business value for LinkedIn professionals\"\n\nOUTPUT FORMAT (single-line JSON array):\n[\n  {\n    \"CLIENT_CHALLENGE\": \"Less than 13 words\",\n    \"TARGET_OBJECTIVE\": \"Less than 5 words\",\n    \"KEY_TOPICS_TO_HIGHLIGHT\": \"Short, punchy, immersive style\",\n    \"MAIN_VALUE_PROPOSITION\": \"Highlights concrete benefit or promised transformation. Must be clear\",\n    \"BRAND_VOICE\": \"Must align with the idea and CamairTech's tech innovation focus\",\n    \"IMAGE_STYLE_FACEBOOK\": \"Detailed prompt for infographic style\",\n    \"IMAGE_STYLE_LINKEDIN\": \"Detailed prompt for infographic style\"\n  }\n]\n\n⚠️ STRICT INSTRUCTIONS:\n- Output must be a valid JSON array.\n- The fields \"IMAGE_STYLE_FACEBOOK\" and \"IMAGE_STYLE_LINKEDIN\" must contain the exact string.\n- No line breaks.\n- No markdown.\n- No explanations.\n- No extra fields.\n- No nested structures.\n- Single-line output only.\n\nExample of valid output:\n[{\"CLIENT_CHALLENGE\":\"Slow systems affecting productivity and growth\",\"TARGET_OBJECTIVE\":\"Digital transformation\",\"KEY_TOPICS_TO_HIGHLIGHT\":\"⚡ Modernize your tech stack and scale faster\",\"MAIN_VALUE_PROPOSITION\":\"Transform your IT infrastructure in 30 days with CamairTech solutions\",\"BRAND_VOICE\":\"Professional, innovative, tech-forward with emphasis on reliability and results\",\"IMAGE_STYLE_FACEBOOK\":\"Modern tech infographic with CamairTech branding, vibrant blue and orange gradient, bold sans-serif typography, clean icons representing IT solutions, energetic and engaging composition\",\"IMAGE_STYLE_LINKEDIN\":\"Professional corporate infographic with CamairTech logo, clean blue color scheme, sophisticated typography, data-driven visual elements, business-focused aesthetic showing ROI and transformation\"}]\n\nNow, generate the JSON output for the following topic:\n{{ $json.topic }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2800,
        1872
      ],
      "id": "2486daf9-7da3-4853-9c21-cda0e737c3e8",
      "name": "AI Agent: Generate Post Concept2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2736,
        2096
      ],
      "id": "aaac6b85-ab0b-44d9-a246-127fbdedae2c",
      "name": "Tool: Inject Creativity2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3056,
        1872
      ],
      "id": "3bb67084-d18e-4546-9aa8-cf56d09028d4",
      "name": "Trigger: Run Daily Script Generator2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2912,
        2064
      ],
      "id": "08a7e50b-7bcf-4d93-8fa7-44e365db4f7f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "NpKKv4fEra1w0hQr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n## VENDREDI \n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3280,
        1968
      ],
      "typeVersion": 1,
      "id": "707217fb-60b4-4cdb-90e6-4b35027d1be3",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "\n\n## MERCREDI \n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3280,
        1584
      ],
      "typeVersion": 1,
      "id": "f98ede60-ded2-4bf3-8788-84b0d759b296",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "\n\n## LUNDI \n",
        "height": 96,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3280,
        1168
      ],
      "typeVersion": 1,
      "id": "b0d840be-94d3-4cdd-acdb-9e88f30c655b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "75552c8dce75ee29dad001c8a2a42bfe"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        1264
      ],
      "id": "720da4a6-8715-46b7-8f8b-adfd77d2d393",
      "name": "ImgBB Upload"
    },
    {
      "parameters": {
        "url": "={{ $json.final_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        1264
      ],
      "id": "79817858-7791-4307-8e20-5162d32a1fe9",
      "name": "get the image "
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "75552c8dce75ee29dad001c8a2a42bfe"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        1728
      ],
      "id": "b284bede-9419-43eb-8dd3-fecbd4f15b53",
      "name": "ImgBB Upload1"
    },
    {
      "parameters": {
        "url": "={{ $('Set Edited Image URL').item.json.final_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        1728
      ],
      "id": "b33ae7a3-9c25-4279-b443-64b23f1f7fa4",
      "name": "get the image 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c8cc339-3edd-4418-a667-232883a14a21",
              "name": "img",
              "value": "={{ $('ImgBB Upload1').item.json.data.url }}",
              "type": "string"
            },
            {
              "id": "5894a76b-770f-4bf4-8622-991f3cf42349",
              "name": "Facebook",
              "value": "={{ $('Set IDs2').item.json.Facebook }}",
              "type": "string"
            },
            {
              "id": "e7d51a20-3ff5-4840-b656-a1f1e4dcb3a0",
              "name": "Google",
              "value": "={{ $('Set IDs2').item.json.Google }}",
              "type": "string"
            },
            {
              "id": "a1e8b0a9-1974-4228-a212-894186870287",
              "name": "Instagram",
              "value": "={{ $('Set IDs2').item.json.Instagram }}",
              "type": "string"
            },
            {
              "id": "5d332db3-806e-4b26-b40a-90f39ba73305",
              "name": "TikTok",
              "value": "={{ $('Set IDs2').item.json.TikTok }}",
              "type": "string"
            },
            {
              "id": "9e20fa2e-9bcd-45ed-ab07-9b84a3fd106e",
              "name": "location_id",
              "value": "={{ $('Set IDs2').item.json.location_id }}",
              "type": "string"
            },
            {
              "id": "aa68b415-41e7-46a0-993f-b7f5f5fc905d",
              "name": "hl_api",
              "value": "={{ $('Set IDs2').item.json.hl_api }}",
              "type": "string"
            },
            {
              "id": "94612b74-c9fe-41f0-8c91-f75d75a1a905",
              "name": "formatted_date",
              "value": "={{ $('Format_Date2').item.json.formatted_date }}",
              "type": "string"
            },
            {
              "id": "94b22f1b-4b16-4d87-84e8-5103edfddc46",
              "name": "userID",
              "value": "8yWctuFXJPtncXWQqn7M",
              "type": "string"
            },
            {
              "id": "db876848-bea0-4634-8c7c-879dfc2ece30",
              "name": "Caption",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "badf2bc5-1765-4dee-bd3c-14d3c16aec94",
              "name": "Pinterest",
              "value": "={{ $('Set IDs2').item.json.Pinterest }}",
              "type": "string"
            },
            {
              "id": "9696eda3-816c-4a38-83c2-3542c63abcbe",
              "name": "Youtube",
              "value": "={{ $('Set IDs2').item.json.Youtube }}",
              "type": "string"
            },
            {
              "id": "d37f05cc-c364-4175-84a1-b4910c97975f",
              "name": "LinKedIn",
              "value": "={{ $('Set IDs2').item.json.LinkedIn }}",
              "type": "string"
            },
            {
              "id": "1b1d9339-c20d-4c95-b8fd-243366f49ac0",
              "name": "user_id",
              "value": "GcpjwALbF19tih7jMBwg",
              "type": "string"
            },
            {
              "id": "3671794a-f76b-4791-a863-27218ae5d020",
              "name": "Account_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "e61d0002-2df6-474a-8058-eeaaeb93ee51",
              "name": "Threads",
              "value": "={{ $('Set IDs2').item.json.Threads }}",
              "type": "string"
            },
            {
              "id": "75c73c6b-a31a-436f-8750-ccd5068d5dd5",
              "name": "Bluesky",
              "value": "={{ $('Set IDs2').item.json.Bluesky }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        2032
      ],
      "id": "1537d916-c0d6-4081-8fe3-72e337eff62b",
      "name": "Set all1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Threads }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n  {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        1008
      ],
      "id": "c0d7986d-ca70-46e3-a012-6d8e9713e87b",
      "name": "HL_THREADS",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.BlueSky }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n   {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4064,
        1008
      ],
      "id": "07ba92ea-5cf1-40f7-b18d-d5654616b5d8",
      "name": "HL_BLUESKY",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Instagram }}\"\n  ],\n  \"summary\": \"\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"story\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        848
      ],
      "id": "de585e9d-7382-4c18-a0d9-c05b0d0aa269",
      "name": "HL_Instagram_Story1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Facebook }}\"\n  ],\n  \"summary\": \"\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"story\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        1152
      ],
      "id": "e632862a-87db-46e7-8bdd-c2b57d7537ae",
      "name": "HL_Facebook_Story1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Instagram }}\"\n  ],\n  \"summary\": \"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        848
      ],
      "id": "b816577f-e233-402b-a324-56d7f2bbc6fb",
      "name": "HL_Instagram_Post",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Facebook }}\"\n  ],\n  \"summary\": \"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        1152
      ],
      "id": "61663ff7-fb9b-4f08-9634-7468259086a1",
      "name": "HL_Facebook_Post",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c8cc339-3edd-4418-a667-232883a14a21",
              "name": "img",
              "value": "={{ $('ImgBB Upload').item.json.data.url }}",
              "type": "string"
            },
            {
              "id": "5894a76b-770f-4bf4-8622-991f3cf42349",
              "name": "Facebook",
              "value": "={{ $('Set IDs').item.json.Facebook }}",
              "type": "string"
            },
            {
              "id": "e7d51a20-3ff5-4840-b656-a1f1e4dcb3a0",
              "name": "Google",
              "value": "={{ $('Set IDs').item.json.Google }}",
              "type": "string"
            },
            {
              "id": "a1e8b0a9-1974-4228-a212-894186870287",
              "name": "Instagram",
              "value": "={{ $('Set IDs').item.json.Instagram }}",
              "type": "string"
            },
            {
              "id": "5d332db3-806e-4b26-b40a-90f39ba73305",
              "name": "TikTok",
              "value": "={{ $('Set IDs').item.json.TikTok }}",
              "type": "string"
            },
            {
              "id": "9e20fa2e-9bcd-45ed-ab07-9b84a3fd106e",
              "name": "location_id",
              "value": "={{ $('Set IDs').item.json.location_id }}",
              "type": "string"
            },
            {
              "id": "aa68b415-41e7-46a0-993f-b7f5f5fc905d",
              "name": "hl_api",
              "value": "={{ $('Set IDs').item.json.hl_api }}",
              "type": "string"
            },
            {
              "id": "94612b74-c9fe-41f0-8c91-f75d75a1a905",
              "name": "formatted_date",
              "value": "={{ $('Set IDs').item.json.formatted_date }}",
              "type": "string"
            },
            {
              "id": "94b22f1b-4b16-4d87-84e8-5103edfddc46",
              "name": "userID",
              "value": "8yWctuFXJPtncXWQqn7M",
              "type": "string"
            },
            {
              "id": "db876848-bea0-4634-8c7c-879dfc2ece30",
              "name": "Caption",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "badf2bc5-1765-4dee-bd3c-14d3c16aec94",
              "name": "Pinterest",
              "value": "={{ $('HL_Accounts').item.json.by.pinterest[0].id }}",
              "type": "string"
            },
            {
              "id": "9696eda3-816c-4a38-83c2-3542c63abcbe",
              "name": "Youtube",
              "value": "={{ $('Set IDs').item.json.Youtube }}",
              "type": "string"
            },
            {
              "id": "d37f05cc-c364-4175-84a1-b4910c97975f",
              "name": "LinKedIn",
              "value": "={{ $('Set IDs').item.json.LinkedIn }}",
              "type": "string"
            },
            {
              "id": "1b1d9339-c20d-4c95-b8fd-243366f49ac0",
              "name": "user_id",
              "value": "GcpjwALbF19tih7jMBwg",
              "type": "string"
            },
            {
              "id": "3671794a-f76b-4791-a863-27218ae5d020",
              "name": "Account_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "858a0ee9-ada7-4063-b9cb-30cf202e2b3a",
              "name": "Threads",
              "value": "={{ $('Set IDs').item.json.Threads }}",
              "type": "string"
            },
            {
              "id": "8b4f9d1a-0741-4232-8fc1-77b7ced14ff7",
              "name": "BlueSky",
              "value": "={{ $('Set IDs').item.json.Bluesky }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        1008
      ],
      "id": "aebbed98-3943-4a40-bf17-034a04712ab7",
      "name": "Set all2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.LinKedIn }}\"\n  ],\n  \"summary\":\"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        640
      ],
      "id": "55e7d042-74c4-497f-9822-efb6d182a681",
      "name": "HL_LinkedIn",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Pinterest }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        1360
      ],
      "id": "e07f75af-e1bd-42a5-98da-11e0656cc941",
      "name": "HL_Pinterest",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Google }}\"\n  ],\n  \"summary\": \"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"gmbPostDetails\": {\n    \"gmbEventType\": \"STANDARD\",\n    \"url\": \"https://sibflow.com/\",\n    \"actionType\": \"learn_more\"\n  },\n  \"userId\": \"{{ $json.userID }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3616,
        1008
      ],
      "id": "f8e20142-4d38-41d1-8052-6c07ae681837",
      "name": "HL_GMB",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Threads }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n  {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        2032
      ],
      "id": "84aa8989-2314-42d3-8aae-0b367af93552",
      "name": "HL_THREADS1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Bluesky }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n   {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3872,
        2032
      ],
      "id": "3e17b25b-91a3-4438-9210-6b1051f1f8ed",
      "name": "HL_BLUESKY1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Instagram }}\"\n  ],\n  \"summary\": \"\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"story\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        1872
      ],
      "id": "e8af7944-0907-4b1e-ab3a-8cb8df1aedd1",
      "name": "HL_Instagram_Story",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Facebook }}\"\n  ],\n  \"summary\": \"\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"story\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        2176
      ],
      "id": "09e2f680-e0bd-49e0-8630-ec9cfff2033e",
      "name": "HL_Facebook_Story",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Instagram }}\"\n  ],\n  \"summary\": \"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        1872
      ],
      "id": "027b3180-2375-4f3d-aa62-0b4e936a99d7",
      "name": "HL_Instagram_Post1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Facebook }}\"\n  ],\n  \"summary\": \"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/jpg\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.userID }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        2176
      ],
      "id": "04d5c427-f8bd-48dc-8a70-162e4a988cd2",
      "name": "HL_Facebook_Post1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.LinKedIn }}\"\n  ],\n  \"summary\":\"{{ $json.Caption }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        1664
      ],
      "id": "94b925da-7ad7-416e-8e2b-4b593ff8d6aa",
      "name": "HL_LinkedIn2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Pinterest }}\"\n  ],\n  \"summary\":\"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"userId\": \"{{ $json.user_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        2384
      ],
      "id": "682ad517-8585-4c18-b998-7dd7071fb86b",
      "name": "HL_Pinterest2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/social-media-posting/{{ $json.location_id }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.hl_api }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountIds\": [\n    \"{{ $json.Google }}\"\n  ],\n  \"summary\": \"{{ $('Edit Fields').item.json.PRIMARY_VALUE_PROPOSITION }}\",\n  \"media\": [\n    {\n      \"url\": \"{{ $json.img }}\",\n      \"type\": \"image/png\"\n    }\n  ],\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.formatted_date }}\",\n  \"type\": \"post\",\n  \"scheduleTimeUpdated\": true,\n  \"gmbPostDetails\": {\n    \"gmbEventType\": \"STANDARD\",\n    \"url\": \"https://sibflow.com/\",\n    \"actionType\": \"learn_more\"\n  },\n  \"userId\": \"{{ $json.userID }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        2032
      ],
      "id": "d8d5e639-0781-4cb2-95df-1c4eef74b31a",
      "name": "HL_GMB2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b225b4c-9e80-47df-b962-b71fb560c368",
              "leftValue": "={{ $json.output }}",
              "rightValue": "={{ $json.error }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        1264
      ],
      "id": "b158f0c1-f773-456e-a6e0-d211594bdc0a",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b225b4c-9e80-47df-b962-b71fb560c368",
              "leftValue": "={{ $json.output }}",
              "rightValue": "={{ $json.error }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        1712
      ],
      "id": "94d48617-e00d-4d0e-b33a-f617cf169493",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1680,
        1920
      ],
      "id": "3400ee98-81c2-4667-8fc2-3264528c7d5e",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "NpKKv4fEra1w0hQr",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"campaign_theme\": \"Seasonal wellness support and personalized healthcare\",\n  \"posts\": [\n    {\n      \"platform\": \"linkedin\",\n      \"post_text\": \"As healthcare professionals, we're seeing increased demand for personalized wellness solutions this season. Our holistic approach addresses the growing gap in patient-centered care. Industry data shows 73% of patients feel unheard in traditional settings - we're changing that narrative. How is your organization adapting to patient-centered care demands? #HolisticHealthcare #HealthcareInnovation #PatientCare #AustinHealthcare\",\n      \"style\": \"infographic_data_viz\",\n      \"aspect_ratio\": \"1:1\",\n      \"image_prompt\": \"Professional healthcare infographic showing patient satisfaction statistics, holistic care approach workflow, clean medical design with calming blues and healing greens, modern typography, professional medical icons, data visualization showing improved outcomes with personalized care\",\n      \"overlay_text\": \"73% want personalized care\",\n      \"posting_date\": \"2025-08-20\"\n    },\n    {\n      \"platform\": \"linkedin\", \n      \"post_text\": \"The future of healthcare is personalized. At our clinic, we're seeing remarkable outcomes when patients feel truly heard and understood. Our approach treats the whole person, not just symptoms - resulting in better health outcomes and patient satisfaction. What does personalized healthcare mean for your practice? #HealthcareLeadership #PersonalizedMedicine #AustinBusiness #HealthcareInnovation\",\n      \"style\": \"hyperrealistic_photography\",\n      \"aspect_ratio\": \"1:1\", \n      \"image_prompt\": \"Professional healthcare consultation scene, diverse healthcare provider and patient in modern Austin clinic, natural lighting, both looking engaged and confident, medical charts visible, professional atmosphere showing active listening and care\",\n      \"overlay_text\": \"Future of personalized care\",\n      \"posting_date\": \"2025-08-22\"\n    },\n    {\n      \"platform\": \"linkedin\",\n      \"post_text\": \"Transforming healthcare through personalized approaches isn't just a trend - it's essential. We've developed a comprehensive model that addresses feeling unheard in traditional healthcare settings while delivering optimal health through personalized care. The evidence speaks for itself: patients thrive when they feel heard. #HealthcareTransformation #HolisticHealthcare #PatientOutcomes #ProfessionalDevelopment\",\n      \"style\": \"3d_rendered_scene\",\n      \"aspect_ratio\": \"1:1\",\n      \"image_prompt\": \"3D rendered healthcare transformation concept, abstract human figure evolving from stressed to healthy, surrounded by holistic care elements (wellness symbols, medical icons), professional calming color palette, modern medical aesthetic\",\n      \"overlay_text\": \"Healthcare transformation\",\n      \"posting_date\": \"2025-08-24\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"Feeling unheard in traditional healthcare settings? You're not alone. 🌱 We believe every person deserves to be truly listened to. Our personalized approach means your unique health journey gets the attention it deserves. 'I finally found healthcare that listens!' - Sarah M., Austin Ready for care that puts YOU first? #Austin #PersonalizedCare #HolisticHealth #Community #ListenFirst\",\n      \"style\": \"lifestyle_illustration\",\n      \"aspect_ratio\": \"3:4\", \n      \"image_prompt\": \"Warm illustrated scene of diverse people in Austin feeling heard and cared for, showing various ages including health-conscious adults 25-55, community clinic setting, soft healing colors, people looking relieved and happy, welcoming atmosphere\",\n      \"overlay_text\": \"You deserve to be heard\",\n      \"posting_date\": \"2025-08-26\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"When Maria walked into our clinic, she was frustrated with feeling like 'just another number' in healthcare. Six months later: 'I have energy I haven't felt in years!' 💪 That's the power of personalized healthcare that treats the whole person. Your story matters. Your health matters. You matter. Book your consultation today! #AustinHealth #CustomerStories #PersonalizedCare #CommunityHealth #YourStoryMatters\",\n      \"style\": \"hyperrealistic_photography\", \n      \"aspect_ratio\": \"3:4\",\n      \"image_prompt\": \"Genuine photo of happy patient Maria (Hispanic woman, 40s) at wellness clinic, natural smile, holding consultation paperwork, Austin clinic background, authentic joy and relief in expression, professional but warm setting\",\n      \"overlay_text\": \"Your story matters\",\n      \"posting_date\": \"2025-08-28\"\n    },\n    {\n      \"platform\": \"facebook\",\n      \"post_text\": \"The numbers don't lie - but your experience matters more 📊 While 73% of people feel unheard in traditional healthcare, 96% of our patients report feeling truly listened to. Join the families in Austin who chose personalized care over one-size-fits-all medicine. Because you're not average - you're unique! #CommunityHealth #PersonalizedCare #Austin #HealthcareYouDeserve #NotJustANumber\",\n      \"style\": \"infographic_data_viz\",\n      \"aspect_ratio\": \"3:4\",\n      \"image_prompt\": \"Friendly infographic comparing traditional vs personalized healthcare, happy faces representing satisfied patients, community-focused design with Austin elements, warm colors, accessible data presentation, family-friendly aesthetic\",\n      \"overlay_text\": \"96% feel truly heard\",\n      \"posting_date\": \"2025-08-30\"\n    }\n  ],\n  \"random_number\": \"847291038529\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1824,
        2080
      ],
      "id": "2f9dbb8b-d350-403f-a0df-48f8a5ee299e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [{\n      \"parts\": [\n        {\"text\": \"{{ $json['output.posts'].image_prompt }}; Style:{{ $json['output.posts'].style }}; Overlay Text:{{ $json['output.posts'].overlay_text }}\"}\n      ]\n    }],\n  \"generationConfig\":{\n    \"imageConfig\":{\n      \"aspectRatio\":\"{{ $json['output.posts'].aspect_ratio }}\"\n    }\n  }\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        1296
      ],
      "id": "d13749d0-7ad2-42a3-a08e-a93ed26a484e",
      "name": "Google nano banana",
      "credentials": {
        "httpHeaderAuth": {
          "id": "W48YMy1dEfU0IRVg",
          "name": "Nano Banana Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a24a2a60-2aea-4731-a143-f2e9014673e1",
              "name": "base64Data",
              "value": "={{ $json.candidates[0].content.parts[1].inlineData.data }}",
              "type": "string"
            },
            {
              "id": "0a388e20-1d37-4344-be20-b639b79ba073",
              "name": "mimeType",
              "value": "={{ $json.candidates[0].content.parts[1].inlineData.mimeType }}",
              "type": "string"
            },
            {
              "id": "f0cb50b0-950a-4490-a682-0a3ca5f2d9df",
              "name": "fileName",
              "value": "=camairtech-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        1296
      ],
      "id": "a868cb55-f4ed-45cb-9abd-898669d45f65",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google nano banana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image Nano Banana": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation 2": {
      "main": [
        [
          {
            "node": "Download Image 1st 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image 1st 2": {
      "main": [
        [
          {
            "node": "Get a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Edit Image Nano Banana3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image Nano Banana3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Edited Image URL2": {
      "main": [
        [
          {
            "node": "get the image ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IDs": {
      "main": [
        [
          {
            "node": "Making Slug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HL_Accounts": {
      "main": [
        [
          {
            "node": "Set IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_Date1": {
      "main": [
        [
          {
            "node": "Set HL ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HL ids": {
      "main": [
        [
          {
            "node": "Get Account IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account IDs": {
      "main": [
        [
          {
            "node": "HL_Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Making Slug1": {
      "main": [
        [
          {
            "node": "Set all2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record1": {
      "main": [
        [
          {
            "node": "Edit Image Nano Banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Edited Image URL": {
      "main": [
        [
          {
            "node": "get the image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set IDs2": {
      "main": [
        [
          {
            "node": "Making Slug2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HL_Accounts2": {
      "main": [
        [
          {
            "node": "Set IDs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format_Date2": {
      "main": [
        [
          {
            "node": "Set HL ids2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HL ids2": {
      "main": [
        [
          {
            "node": "Get Account IDs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account IDs2": {
      "main": [
        [
          {
            "node": "HL_Accounts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Making Slug2": {
      "main": [
        [
          {
            "node": "Set all1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Extract JSON from Idea": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Post Concept",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Post Concept": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creativity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Post Concept",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Run Daily Script Generator": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Post Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Post Concept",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Extract JSON from Idea1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Post Concept1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Post Concept1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creativity1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Post Concept1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Run Daily Script Generator1": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Post Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Post Concept1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Extract JSON from Idea2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Post Concept2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Post Concept2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Inject Creativity2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Post Concept2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Run Daily Script Generator2": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Post Concept2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Post Concept2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ImgBB Upload": {
      "main": [
        [
          {
            "node": "Format_Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the image ": {
      "main": [
        [
          {
            "node": "ImgBB Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImgBB Upload1": {
      "main": [
        [
          {
            "node": "Format_Date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the image 1": {
      "main": [
        [
          {
            "node": "ImgBB Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set all1": {
      "main": [
        [
          {
            "node": "HL_GMB2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_LinkedIn2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Facebook_Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Pinterest2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Instagram_Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Instagram_Story",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_THREADS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_BLUESKY1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Facebook_Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set all2": {
      "main": [
        [
          {
            "node": "HL_Facebook_Story1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Instagram_Story1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Facebook_Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Instagram_Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_GMB",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_THREADS",
            "type": "main",
            "index": 0
          },
          {
            "node": "HL_BLUESKY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Image Nano Banana3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Edited Image URL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Image Nano Banana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Edited Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google nano banana": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "3ed9a39f-9ede-4fc7-9a54-39f92188a054",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76a0c13935b909c23cf34c1d7984064a67ca8793861d7c49c75ab15f7e6466c4"
  },
  "id": "u4AZa9iMaHoE4cFN",
  "tags": []
}