Geskap - Telegram Approval Handler.json
{
  "name": "Geskap - Telegram Approval Handler",
  "description": "Handles Telegram inline button callbacks to approve/reject Geskap social media posts. v1.0 - 2026-03-08",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "webhookId": "geskap-telegram-callback",
      "credentials": {
        "telegramApi": {
          "id": "Zc5UMtLg91RaTekA",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the callback data from Telegram inline button\nconst callbackData = $json.callback_query?.data || '';\nconst callbackQueryId = $json.callback_query?.id || '';\nconst chatId = $json.callback_query?.message?.chat?.id || '';\nconst messageId = $json.callback_query?.message?.message_id || '';\n\n// Expected format: \"approve:executionId\" or \"reject:executionId\"\nconst parts = callbackData.split(':');\nconst action = parts[0] || ''; // approve or reject\nconst executionId = parts[1] || '';\n\nif (!action || !executionId) {\n  throw new Error('Invalid callback data: ' + callbackData);\n}\n\nreturn [{\n  json: {\n    action,\n    executionId,\n    callbackQueryId,\n    chatId: String(chatId),\n    messageId,\n    isApproved: action === 'approve'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.srv842116.hstgr.cloud/webhook-waiting/{{ $json.executionId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"{{ $json.action }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "id": "b1b2c3d4-0003-4000-8000-000000000003",
      "name": "Resume Main Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback').first().json.chatId }}",
        "text": "={{ $('Parse Callback').first().json.isApproved ? '✅ Post approuvé! Publication en cours sur TikTok, Instagram et Facebook...' : '❌ Post rejeté. Aucune publication ne sera faite.' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Parse Callback').first().json.messageId }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 300],
      "id": "b1b2c3d4-0004-4000-8000-000000000004",
      "name": "Confirm Action",
      "credentials": {
        "telegramApi": {
          "id": "Zc5UMtLg91RaTekA",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Resume Main Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Main Workflow": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": [
    {
      "name": "Geskap"
    },
    {
      "name": "Social Media"
    }
  ]
}