github-backup-untagged.json
{
  "updatedAt": "2026-03-05T01:27:44.002Z",
  "createdAt": "2025-12-16T13:58:21.388Z",
  "id": "4rwPWxirFIad6SL4",
  "name": "Github Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "1643fc3c-e66e-48e7-95c9-b947209507f1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        6272,
        2656
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "="
      },
      "id": "4352f3c6-66e2-44f6-b948-d7c9c5368a2e",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        6480,
        2656
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "75bf9bd5-9413-47be-bace-9ffdef1ed19c",
      "name": "Aggregate repo files",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        6704,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://n8n.srv842116.hstgr.cloud/api/v1/workflows?limit=250",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "3db84ddf-b581-47d2-b90b-c46e62fed456",
      "name": "Get all workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6928,
        2656
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6TWR9qstns4hczRL",
          "name": "N8N_Credentials"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "7e6d0fb3-7afe-4ae4-a869-fd256281d2b8",
      "name": "Split Out workflows",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        7152,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ new Date($json.updatedAt).getTime() }}",
              "operation": "larger",
              "value2": "={{ Date.now() - 25 * 60 * 60 * 1000 }}"
            }
          ]
        }
      },
      "id": "b8b90e39-1a08-4c65-a68c-7a4a831f5888",
      "name": "Changed in last 24h?",
      "type": "n8n-nodes-base.if",
      "position": [
        7360,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const workflow = $input.item.json;\n\n// Deep clone and sanitize credentials from nodes\nconst sanitized = JSON.parse(JSON.stringify(workflow));\nif (sanitized.nodes && Array.isArray(sanitized.nodes)) {\n  sanitized.nodes = sanitized.nodes.map(node => {\n    if (node.credentials) {\n      // Keep credential names/ids but strip any inline secrets\n      const cleanCreds = {};\n      for (const [key, val] of Object.entries(node.credentials)) {\n        cleanCreds[key] = { id: val.id, name: val.name };\n      }\n      node.credentials = cleanCreds;\n    }\n    return node;\n  });\n}\n\nconst jsonString = JSON.stringify(sanitized, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nconst tag = (workflow.tags && workflow.tags.length > 0)\n  ? workflow.tags[0].name.replace(/\\s+/g, '-').toLowerCase()\n  : 'untagged';\n\nconst slug = workflow.name.replace(/\\s+/g, '-').toLowerCase();\nconst fileName = `${slug}-${tag}.json`;\n\nreturn [{\n  json: {\n    workflowName: workflow.name,\n    fileName: fileName,\n    base64Content: base64,\n    updatedAt: workflow.updatedAt\n  }\n}];"
      },
      "id": "ff5af258-f90e-4086-97c9-57cad2413e78",
      "name": "Prepare backup data",
      "type": "n8n-nodes-base.code",
      "position": [
        7584,
        2576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy HH:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.fileName }}"
            },
            {
              "id": "d1e2f3a4-b5c6-7890-def0-123456789abc",
              "name": "base64Content",
              "type": "string",
              "value": "={{ $json.base64Content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e552ad0e-f292-49dd-a488-d5957f7e305f",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        7808,
        2576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate repo files').first().json.name }}",
              "operation": "contains",
              "value2": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "id": "2e22b8f3-a73c-44fd-b865-bf65c09bb629",
      "name": "File already in repo?",
      "type": "n8n-nodes-base.if",
      "position": [
        8032,
        2576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
        "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "0a9ddb68-00de-4e7c-9eba-3610f9bc7dc2",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        8240,
        2496
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
        "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "da7be0b9-0f49-4299-83b7-e31c0305a037",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        8240,
        2656
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ① Snapshot GitHub repo\nLists all files already backed up in the repo so we can decide whether to **create** or **update** each workflow.",
        "height": 200,
        "width": 500,
        "color": 5
      },
      "id": "13d2f8eb-39ca-4c42-8279-7e1fb9a0c86c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6448,
        2480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ② Fetch & filter workflows\n- Calls n8n API for all workflows\n- **Splits** the `data[]` array into individual items\n- **Filters** to only workflows updated in the last 24 h\n- Code node converts to base64 & builds the filename",
        "height": 200,
        "width": 760,
        "color": 3
      },
      "id": "ee33f072-e728-4c51-a28d-3af0afc485c7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6896,
        2480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ③ Commit to GitHub\n- **True branch** → file already exists → **Update** it\n- **False branch** → new workflow → **Create** it\n\nRuns every day at 02:00 AM server time.",
        "height": 200,
        "width": 600,
        "color": 4
      },
      "id": "e1d943fd-fae3-4c3e-8662-0ff58a05a029",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7776,
        2480
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate repo files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate repo files": {
      "main": [
        [
          {
            "node": "Get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all workflows": {
      "main": [
        [
          {
            "node": "Split Out workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out workflows": {
      "main": [
        [
          {
            "node": "Changed in last 24h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Changed in last 24h?": {
      "main": [
        [
          {
            "node": "Prepare backup data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare backup data": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "File already in repo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File already in repo?": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f332a3e6-d6ab-48e2-973c-89ce60882fe1",
  "activeVersionId": "f332a3e6-d6ab-48e2-973c-89ce60882fe1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-16T13:58:21.391Z",
      "createdAt": "2025-12-16T13:58:21.391Z",
      "role": "workflow:owner",
      "workflowId": "4rwPWxirFIad6SL4",
      "projectId": "ene3OLMtB0nh9ppE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-05T04:45:19.000Z",
    "createdAt": "2026-03-05T01:27:44.005Z",
    "versionId": "f332a3e6-d6ab-48e2-973c-89ce60882fe1",
    "workflowId": "4rwPWxirFIad6SL4",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 2 * * *"
              }
            ]
          }
        },
        "id": "1643fc3c-e66e-48e7-95c9-b947209507f1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          6272,
          2656
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "konnofuente",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-free-template",
            "mode": "list",
            "cachedResultName": "n8n-free-template",
            "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
          },
          "filePath": "="
        },
        "id": "4352f3c6-66e2-44f6-b948-d7c9c5368a2e",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          6480,
          2656
        ],
        "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "z8h44D4OqbDOXai8",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "75bf9bd5-9413-47be-bace-9ffdef1ed19c",
        "name": "Aggregate repo files",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          6704,
          2656
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "https://n8n.srv842116.hstgr.cloud/api/v1/workflows?limit=250",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "3db84ddf-b581-47d2-b90b-c46e62fed456",
        "name": "Get all workflows",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6928,
          2656
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6TWR9qstns4hczRL",
            "name": "N8N_Credentials"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "id": "7e6d0fb3-7afe-4ae4-a869-fd256281d2b8",
        "name": "Split Out workflows",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          7152,
          2656
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ new Date($json.updatedAt).getTime() }}",
                "operation": "larger",
                "value2": "={{ Date.now() - 25 * 60 * 60 * 1000 }}"
              }
            ]
          }
        },
        "id": "b8b90e39-1a08-4c65-a68c-7a4a831f5888",
        "name": "Changed in last 24h?",
        "type": "n8n-nodes-base.if",
        "position": [
          7360,
          2656
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "const workflow = $input.item.json;\n\n// Deep clone and sanitize credentials from nodes\nconst sanitized = JSON.parse(JSON.stringify(workflow));\nif (sanitized.nodes && Array.isArray(sanitized.nodes)) {\n  sanitized.nodes = sanitized.nodes.map(node => {\n    if (node.credentials) {\n      // Keep credential names/ids but strip any inline secrets\n      const cleanCreds = {};\n      for (const [key, val] of Object.entries(node.credentials)) {\n        cleanCreds[key] = { id: val.id, name: val.name };\n      }\n      node.credentials = cleanCreds;\n    }\n    return node;\n  });\n}\n\nconst jsonString = JSON.stringify(sanitized, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nconst tag = (workflow.tags && workflow.tags.length > 0)\n  ? workflow.tags[0].name.replace(/\\s+/g, '-').toLowerCase()\n  : 'untagged';\n\nconst slug = workflow.name.replace(/\\s+/g, '-').toLowerCase();\nconst fileName = `${slug}-${tag}.json`;\n\nreturn [{\n  json: {\n    workflowName: workflow.name,\n    fileName: fileName,\n    base64Content: base64,\n    updatedAt: workflow.updatedAt\n  }\n}];"
        },
        "id": "ff5af258-f90e-4086-97c9-57cad2413e78",
        "name": "Prepare backup data",
        "type": "n8n-nodes-base.code",
        "position": [
          7584,
          2576
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy HH:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $json.fileName }}"
              },
              {
                "id": "d1e2f3a4-b5c6-7890-def0-123456789abc",
                "name": "base64Content",
                "type": "string",
                "value": "={{ $json.base64Content }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e552ad0e-f292-49dd-a488-d5957f7e305f",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          7808,
          2576
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate repo files').first().json.name }}",
                "operation": "contains",
                "value2": "={{ $json.fileName }}"
              }
            ]
          }
        },
        "id": "2e22b8f3-a73c-44fd-b865-bf65c09bb629",
        "name": "File already in repo?",
        "type": "n8n-nodes-base.if",
        "position": [
          8032,
          2576
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "konnofuente",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-free-template",
            "mode": "list",
            "cachedResultName": "n8n-free-template",
            "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
          },
          "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
          "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
          "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "0a9ddb68-00de-4e7c-9eba-3610f9bc7dc2",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          8240,
          2496
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "z8h44D4OqbDOXai8",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "konnofuente",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-free-template",
            "mode": "list",
            "cachedResultName": "n8n-free-template",
            "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
          },
          "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
          "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
          "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "da7be0b9-0f49-4299-83b7-e31c0305a037",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          8240,
          2656
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "z8h44D4OqbDOXai8",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "content": "## ① Snapshot GitHub repo\nLists all files already backed up in the repo so we can decide whether to **create** or **update** each workflow.",
          "height": 200,
          "width": 500,
          "color": 5
        },
        "id": "13d2f8eb-39ca-4c42-8279-7e1fb9a0c86c",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          6448,
          2480
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## ② Fetch & filter workflows\n- Calls n8n API for all workflows\n- **Splits** the `data[]` array into individual items\n- **Filters** to only workflows updated in the last 24 h\n- Code node converts to base64 & builds the filename",
          "height": 200,
          "width": 760,
          "color": 3
        },
        "id": "ee33f072-e728-4c51-a28d-3af0afc485c7",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          6896,
          2480
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## ③ Commit to GitHub\n- **True branch** → file already exists → **Update** it\n- **False branch** → new workflow → **Create** it\n\nRuns every day at 02:00 AM server time.",
          "height": 200,
          "width": 600,
          "color": 4
        },
        "id": "e1d943fd-fae3-4c3e-8662-0ff58a05a029",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          7776,
          2480
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate repo files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate repo files": {
        "main": [
          [
            {
              "node": "Get all workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get all workflows": {
        "main": [
          [
            {
              "node": "Split Out workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out workflows": {
        "main": [
          [
            {
              "node": "Changed in last 24h?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Changed in last 24h?": {
        "main": [
          [
            {
              "node": "Prepare backup data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare backup data": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "File already in repo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File already in repo?": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Konno Meli Arnaud Desire",
    "name": "Version f332a3e6",
    "description": ""
  },
  "tags": []
}