Github Backup.json
{
  "name": "Github Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "8bebca0f-b409-4e9f-bc09-ecf6405f0716",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        200,
        300
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "="
      },
      "id": "57983555-20a3-4163-8180-a4512a7ccc05",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        420,
        300
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "434e93d2-d85d-4ab7-84f8-58647960bf66",
      "name": "Aggregate repo files",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        640,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://n8n.srv842116.hstgr.cloud/api/v1/workflows?limit=250",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "835219a9-da63-470e-b752-50e72f48f3e1",
      "name": "Get all workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        860,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6TWR9qstns4hczRL",
          "name": "N8N_Credentials"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Split Out workflows",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1080,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ new Date($json.updatedAt).getTime() }}",
              "operation": "larger",
              "value2": "={{ Date.now() - 25 * 60 * 60 * 1000 }}"
            }
          ]
        }
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-123456789def",
      "name": "Changed in last 24h?",
      "type": "n8n-nodes-base.if",
      "position": [
        1300,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const workflow = $input.item.json;\n\n// Deep clone and sanitize credentials from nodes\nconst sanitized = JSON.parse(JSON.stringify(workflow));\nif (sanitized.nodes && Array.isArray(sanitized.nodes)) {\n  sanitized.nodes = sanitized.nodes.map(node => {\n    if (node.credentials) {\n      // Keep credential names/ids but strip any inline secrets\n      const cleanCreds = {};\n      for (const [key, val] of Object.entries(node.credentials)) {\n        cleanCreds[key] = { id: val.id, name: val.name };\n      }\n      node.credentials = cleanCreds;\n    }\n    return node;\n  });\n}\n\nconst jsonString = JSON.stringify(sanitized, null, 2);\nconst base64 = Buffer.from(jsonString).toString('base64');\n\nconst tag = (workflow.tags && workflow.tags.length > 0)\n  ? workflow.tags[0].name.replace(/\\s+/g, '-').toLowerCase()\n  : 'untagged';\n\nconst slug = workflow.name.replace(/\\s+/g, '-').toLowerCase();\nconst fileName = `${slug}-${tag}.json`;\n\nreturn [{\n  json: {\n    workflowName: workflow.name,\n    fileName: fileName,\n    base64Content: base64,\n    updatedAt: workflow.updatedAt\n  }\n}];"
      },
      "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
      "name": "Prepare backup data",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        220
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy HH:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.fileName }}"
            },
            {
              "id": "d1e2f3a4-b5c6-7890-def0-123456789abc",
              "name": "base64Content",
              "type": "string",
              "value": "={{ $json.base64Content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6a80d46-4309-4c40-ac1d-10e200ea6ffb",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        220
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate repo files').first().json.name }}",
              "operation": "contains",
              "value2": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "id": "d31dc5af-8afe-4954-bdb8-ff326bd874b9",
      "name": "File already in repo?",
      "type": "n8n-nodes-base.if",
      "position": [
        1960,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
        "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "dd4d9327-784d-4d63-9cae-f7de96630ee9",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        2180,
        140
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "fileContent": "={{ $('Commit date & file name').item.json.base64Content }}",
        "commitMessage": "=chore: backup {{ $('Commit date & file name').item.json.fileName }} @ {{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "85740b66-7f8c-4db7-8f96-8db6e4d11d51",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2180,
        300
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ① Snapshot GitHub repo\nLists all files already backed up in the repo so we can decide whether to **create** or **update** each workflow.",
        "height": 200,
        "width": 500,
        "color": 5
      },
      "id": "268a5136-2218-42ec-afa8-bedcfb08a724",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        390,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ② Fetch & filter workflows\n- Calls n8n API for all workflows\n- **Splits** the `data[]` array into individual items\n- **Filters** to only workflows updated in the last 24 h\n- Code node converts to base64 & builds the filename",
        "height": 200,
        "width": 760,
        "color": 3
      },
      "id": "437e8307-006d-49f1-a97d-0dcc108f8293",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        830,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ③ Commit to GitHub\n- **True branch** → file already exists → **Update** it\n- **False branch** → new workflow → **Create** it\n\nRuns every day at 02:00 AM server time.",
        "height": 200,
        "width": 600,
        "color": 4
      },
      "id": "905a5f3d-90e0-4ce1-9a84-b9b2063e1319",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1710,
        120
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate repo files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate repo files": {
      "main": [
        [
          {
            "node": "Get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all workflows": {
      "main": [
        [
          {
            "node": "Split Out workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out workflows": {
      "main": [
        [
          {
            "node": "Changed in last 24h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Changed in last 24h?": {
      "main": [
        [
          {
            "node": "Prepare backup data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare backup data": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "File already in repo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File already in repo?": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76a0c13935b909c23cf34c1d7984064a67ca8793861d7c49c75ab15f7e6466c4"
  },
  "id": "4rwPWxirFIad6SL4",
  "tags": []
}