Github Restore.json
{
    "name": "Github Restore",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "github-restore",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "a1000001-0000-0000-0000-000000000001",
            "name": "GitHub Webhook",
            "type": "n8n-nodes-base.webhook",
            "position": [
                200,
                300
            ],
            "webhookId": "github-restore-webhook",
            "typeVersion": 2
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "id": "a1000002-0000-0000-0000-000000000002",
            "name": "Respond to GitHub",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                420,
                420
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "jsCode": "// Extract all .json files added or modified in this push\nconst payload = $input.item.json.body;\nconst commits = payload.commits || [];\n\nconst changedFiles = new Set();\nfor (const commit of commits) {\n  for (const file of [...(commit.added || []), ...(commit.modified || [])]) {\n    if (file.endsWith('.json')) {\n      changedFiles.add(file);\n    }\n  }\n}\n\nif (changedFiles.size === 0) {\n  return [{ json: { skipped: true, reason: 'No .json files changed' } }];\n}\n\n// Pass ref (commit SHA) so we fetch the exact version pushed\nconst ref = payload.after || 'main';\nconst pusher = payload.pusher ? payload.pusher.name : 'unknown';\nconst repoFullName = payload.repository ? payload.repository.full_name : 'konnofuente/n8n-free-template';\n\nreturn [...changedFiles].map(filePath => ({\n  json: { filePath, ref, pusher, repoFullName }\n}));"
            },
            "id": "a1000003-0000-0000-0000-000000000003",
            "name": "Extract changed files",
            "type": "n8n-nodes-base.code",
            "position": [
                420,
                300
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skipped }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "a1000004-0000-0000-0000-000000000004",
            "name": "Any JSON files changed?",
            "type": "n8n-nodes-base.if",
            "position": [
                640,
                300
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.repoFullName }}/contents/{{ encodeURIComponent($json.filePath) }}?ref={{ $json.ref }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "a1000005-0000-0000-0000-000000000005",
            "name": "Get file from GitHub",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                860,
                220
            ],
            "typeVersion": 4.3,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "z8h44D4OqbDOXai8",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Decode base64 content from GitHub and extract workflow data\nconst item = $input.item.json;\n\n// GitHub returns content with newlines in the base64 — strip them\nconst raw = (item.content || '').replace(/\\n/g, '');\nif (!raw) {\n  throw new Error(`No content returned for file: ${item.name}`);\n}\n\nconst decoded = Buffer.from(raw, 'base64').toString('utf8');\nlet workflow;\ntry {\n  workflow = JSON.parse(decoded);\n} catch (e) {\n  throw new Error(`Failed to parse JSON for file: ${item.name} — ${e.message}`);\n}\n\nif (!workflow.id) {\n  throw new Error(`Workflow file ${item.name} has no id field — cannot update.`);\n}\n\nreturn [{\n  json: {\n    workflowId: workflow.id,\n    workflowName: workflow.name,\n    workflowData: workflow,\n    filePath: item.path\n  }\n}];"
            },
            "id": "a1000006-0000-0000-0000-000000000006",
            "name": "Decode & extract workflow",
            "type": "n8n-nodes-base.code",
            "position": [
                1080,
                220
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=https://n8n.srv842116.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.workflowData) }}",
                "options": {}
            },
            "id": "a1000007-0000-0000-0000-000000000007",
            "name": "Update workflow via API",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1300,
                220
            ],
            "typeVersion": 4.3,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6TWR9qstns4hczRL",
                    "name": "N8N_Credentials"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "name"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1000008-0000-0000-0000-000000000008",
            "name": "Collect updated names",
            "type": "n8n-nodes-base.aggregate",
            "position": [
                1520,
                220
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "jsCode": "// Build a clean Telegram summary message\nconst names = $input.item.json.name;\nconst nameList = Array.isArray(names)\n  ? names.map(n => `  • ${n}`).join('\\n')\n  : `  • ${names}`;\n\nconst now = new Date().toLocaleString('en-GB', {\n  timeZone: 'Africa/Douala',\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nconst message = [\n  '🔄 *n8n Sync Complete*',\n  '',\n  '✅ Workflows have been updated from the latest GitHub push.',\n  '',\n  '📋 *Updated workflows:*',\n  nameList,\n  '',\n  `🕐 *Time:* ${now}`,\n  '',\n  '🔗 Source: github.com/konnofuente/n8n-free-template'\n].join('\\n');\n\nreturn [{ json: { message } }];"
            },
            "id": "a1000009-0000-0000-0000-000000000009",
            "name": "Build Telegram message",
            "type": "n8n-nodes-base.code",
            "position": [
                1740,
                220
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "chatId": "YOUR_TELEGRAM_CHAT_ID",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "a1000010-0000-0000-0000-000000000010",
            "name": "Telegram notification",
            "type": "n8n-nodes-base.telegram",
            "position": [
                1960,
                220
            ],
            "typeVersion": 1.2,
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "content": "## ① GitHub Webhook\nRegister this URL in your GitHub repo:\n**Settings → Webhooks → Add webhook**\n\n- **Payload URL**: `https://n8n.srv842116.hstgr.cloud/webhook/github-restore`\n- **Content type**: `application/json`\n- **Events**: Just the push event\n\nResponds with 200 OK immediately so GitHub doesn't time out.",
                "height": 260,
                "width": 420,
                "color": 5
            },
            "id": "a1000011-0000-0000-0000-000000000011",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                170,
                560
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## ② Detect changes\nParses the push payload to find `.json` files that were **added** or **modified**.\nSkips if no workflow files changed.\n\nPasses the commit SHA (`ref`) so we fetch the exact version pushed.",
                "height": 260,
                "width": 420,
                "color": 3
            },
            "id": "a1000012-0000-0000-0000-000000000012",
            "name": "Sticky Note2",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                610,
                560
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## ③ Fetch & import\n1. Gets each file content from GitHub API\n2. Decodes base64 → parses JSON\n3. Extracts `id` from the workflow file\n4. Calls `PUT /api/v1/workflows/:id` on your n8n instance\n\n⚠️ **GitHub credential**: update to use your PAT with `httpHeaderAuth` (Header: `Authorization`, Value: `Bearer YOUR_GITHUB_PAT`)",
                "height": 260,
                "width": 620,
                "color": 4
            },
            "id": "a1000013-0000-0000-0000-000000000013",
            "name": "Sticky Note3",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                830,
                560
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## ④ Telegram notification\nAfter all workflows are updated, sends **one summary message** with all workflow names and timestamp.\n\n**Configure**:\n1. Add your Telegram Bot credential\n2. Set your Chat ID in the Telegram node",
                "height": 260,
                "width": 460,
                "color": 7
            },
            "id": "a1000014-0000-0000-0000-000000000014",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1710,
                560
            ],
            "typeVersion": 1
        }
    ],
    "connections": {
        "GitHub Webhook": {
            "main": [
                [
                    {
                        "node": "Extract changed files",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract changed files": {
            "main": [
                [
                    {
                        "node": "Any JSON files changed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any JSON files changed?": {
            "main": [
                [],
                [
                    {
                        "node": "Get file from GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get file from GitHub": {
            "main": [
                [
                    {
                        "node": "Decode & extract workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Decode & extract workflow": {
            "main": [
                [
                    {
                        "node": "Update workflow via API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update workflow via API": {
            "main": [
                [
                    {
                        "node": "Collect updated names",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect updated names": {
            "main": [
                [
                    {
                        "node": "Build Telegram message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Telegram message": {
            "main": [
                [
                    {
                        "node": "Telegram notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "76a0c13935b909c23cf34c1d7984064a67ca8793861d7c49c75ab15f7e6466c4"
    },
    "tags": []
}