Github Backup.json
{
  "updatedAt": "2025-12-22T17:24:14.597Z",
  "createdAt": "2025-12-16T13:58:21.388Z",
  "id": "4rwPWxirFIad6SL4",
  "name": "Github Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "499d7c5f-ac4d-4554-9ae2-cbc492b47fef",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2240,
        2256
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "bd0ddb2b-13ec-488b-a0d9-3a2038c8b390",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2720,
        2256
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "zXZCM74goEn07TxS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "f91a7b70-96e4-4e44-a536-b0388a9f441e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2560,
        2256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "="
      },
      "id": "7e47e20a-6d62-4c6e-a5d2-68e18b7dc09d",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        2400,
        2256
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "1d8c38f1-a6c9-4952-b0fc-e7c90dff5222",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        3520,
        2176
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "2b96bb1e-dc82-44b1-82fd-b1fe229d4da7",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        3520,
        2336
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "ae572977-6e55-4139-a16d-5b723e88849d",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        3360,
        2256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "0d4aa03a-2be0-47c9-b082-178723e2ec8e",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2880,
        2256
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "7492f52c-4531-4690-8215-98d10276ca59",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3040,
        2256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "caa7ce6b-9b64-4aa7-ae65-285f64b73d6e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "5f54a2b8-baa9-4fd0-b3d2-4a1232922db3",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        3200,
        2256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "1d20fbd7-3fd1-4271-9920-a65cea5b58ed",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "4bb75677-5325-4bb6-9ca7-51edcd8ffa5d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3168,
        2112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "efc73267-6aca-4853-ae9a-a05e500908bf",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2144,
        1776
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "dd3d818e-f991-43c3-88c8-76a6bd35bb99",
      "name": "Retrieve workflows1",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2624,
        1776
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "zXZCM74goEn07TxS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "0693da5c-5b8d-4314-a1c6-1df65ef3006e",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2464,
        1776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "="
      },
      "id": "edeb269d-c403-4ab2-9d7b-74d92c27c690",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        2304,
        1776
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.tags[0].name }}.json",
        "fileContent": "={{ $('To base').json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name1').json.commitDate }}"
      },
      "id": "30b24149-6fb9-4b71-96a8-8cf2bbb1c2ff",
      "name": "Update file1",
      "type": "n8n-nodes-base.github",
      "position": [
        3424,
        1696
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.tags[0].name }}.json",
        "fileContent": "={{ $('To base').json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name1'].json.commitDate }}"
      },
      "id": "a4fb046f-118f-48ce-9622-a359d5483a57",
      "name": "Upload file1",
      "type": "n8n-nodes-base.github",
      "position": [
        3424,
        1856
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate1').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "c375ac9d-ada2-43ce-861f-adba200c48ea",
      "name": "Check if file exists1",
      "type": "n8n-nodes-base.if",
      "position": [
        3264,
        1776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "f1488dd9-7f18-47b3-a5c9-cb67e5b5bbf9",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2784,
        1776
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "4b685d5c-b04b-4dec-8902-8eb8d21548fe",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2944,
        1776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "d7527d0c-7872-43f3-a308-73b87084e4b0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        1632
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "11e2487a-d605-4a0b-868c-3682839969b0",
      "name": "Commit date & file name1",
      "type": "n8n-nodes-base.set",
      "position": [
        3104,
        1776
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "e409f4de-4b46-4ef5-a850-c8996ef40c7e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        1632
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "6a8ad5cd-85f2-434c-9eeb-e45de1184cb2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        1632
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows1": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Retrieve workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists1": {
      "main": [
        [
          {
            "node": "Update file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Commit date & file name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name1": {
      "main": [
        [
          {
            "node": "Check if file exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3f9511a0-1059-4ca7-b84a-44c9b4203b4a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T13:58:21.391Z",
      "createdAt": "2025-12-16T13:58:21.391Z",
      "role": "workflow:owner",
      "workflowId": "4rwPWxirFIad6SL4",
      "projectId": "ene3OLMtB0nh9ppE"
    }
  ],
  "activeVersion": null,
  "tags": []
}