github-backup-untagged.json
{
  "updatedAt": "2026-03-05T01:15:25.109Z",
  "createdAt": "2025-12-16T13:58:21.388Z",
  "id": "4rwPWxirFIad6SL4",
  "name": "Github Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "8bebca0f-b409-4e9f-bc09-ecf6405f0716",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        4576,
        2320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "434e93d2-d85d-4ab7-84f8-58647960bf66",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        4896,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "="
      },
      "id": "57983555-20a3-4163-8180-a4512a7ccc05",
      "name": "List files from repo2",
      "type": "n8n-nodes-base.github",
      "position": [
        4736,
        2320
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ ($json.tags && $json.tags.length > 0) ? $json.tags[0].name : 'untagged' }}.json",
        "fileContent": "={{ $('To base1').json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name2').json.commitDate }}"
      },
      "id": "dd4d9327-784d-4d63-9cae-f7de96630ee9",
      "name": "Update file2",
      "type": "n8n-nodes-base.github",
      "position": [
        5856,
        2240
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "konnofuente",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-free-template",
          "mode": "list",
          "cachedResultName": "n8n-free-template",
          "cachedResultUrl": "https://github.com/konnofuente/n8n-free-template"
        },
        "filePath": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ ($json.tags && $json.tags.length > 0) ? $json.tags[0].name : 'untagged' }}.json",
        "fileContent": "={{ $('To base1').json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name2'].json.commitDate }}"
      },
      "id": "85740b66-7f8c-4db7-8f96-8db6e4d11d51",
      "name": "Upload file2",
      "type": "n8n-nodes-base.github",
      "position": [
        5856,
        2400
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "z8h44D4OqbDOXai8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate2').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ ($json.tags && $json.tags.length > 0) ? $json.tags[0].name : 'untagged' }}.json"
            }
          ]
        }
      },
      "id": "d31dc5af-8afe-4954-bdb8-ff326bd874b9",
      "name": "Check if file exists2",
      "type": "n8n-nodes-base.if",
      "position": [
        5696,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "815b3a67-c4bd-40f8-b7c9-fae1d53c24e8",
      "name": "Json file2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        5216,
        2320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "030a5fde-b413-4ecb-9327-870f19377c13",
      "name": "To base1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        5376,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "268a5136-2218-42ec-afa8-bedcfb08a724",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ ($json.tags && $json.tags.length > 0) ? $json.tags[0].name : 'untagged' }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "b6a80d46-4309-4c40-ac1d-10e200ea6ffb",
      "name": "Commit date & file name2",
      "type": "n8n-nodes-base.set",
      "position": [
        5536,
        2320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "437e8307-006d-49f1-a97d-0dcc108f8293",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5024,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "905a5f3d-90e0-4ce1-9a84-b9b2063e1319",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5504,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://n8n.srv842116.hstgr.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5056,
        2272
      ],
      "id": "835219a9-da63-470e-b752-50e72f48f3e1",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6TWR9qstns4hczRL",
          "name": "N8N_Credentials"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "List files from repo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists2": {
      "main": [
        [
          {
            "node": "Update file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file2": {
      "main": [
        [
          {
            "node": "To base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base1": {
      "main": [
        [
          {
            "node": "Commit date & file name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name2": {
      "main": [
        [
          {
            "node": "Check if file exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Json file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d5df09ea-5869-41fc-8d69-c97a8d530b40",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T13:58:21.391Z",
      "createdAt": "2025-12-16T13:58:21.391Z",
      "role": "workflow:owner",
      "workflowId": "4rwPWxirFIad6SL4",
      "projectId": "ene3OLMtB0nh9ppE"
    }
  ],
  "activeVersion": null,
  "tags": []
}