My workflow 5.json
{
  "updatedAt": "2025-12-10T00:39:12.000Z",
  "createdAt": "2025-11-04T10:25:49.499Z",
  "id": "2L2lSWIkDVDt5ERd",
  "name": "My workflow 5",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "44402f5c-b225-4f55-bdcf-29a31c1a8a4c",
      "name": "Telegram Trigger",
      "webhookId": "b98ef5b4-47f4-4beb-9f46-d25f730731ef",
      "credentials": {
        "telegramApi": {
          "id": "Zc5UMtLg91RaTekA",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "03eb50d8-43e3-47a5-a814-5e26a1e9f72f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "32703149-3215-43a7-bf3f-00b79cb57fd3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "c4V2SVICUD0wA3QJ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "79d7f502-6b49-4c01-9c92-e54a86e795b2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-04T10:25:49.501Z",
      "createdAt": "2025-11-04T10:25:49.501Z",
      "role": "workflow:owner",
      "workflowId": "2L2lSWIkDVDt5ERd",
      "projectId": "ene3OLMtB0nh9ppE"
    }
  ],
  "activeVersion": null,
  "tags": []
}