Uploading pdf/images from Drives converting to CVS Format.json
{
  "updatedAt": "2025-12-10T00:38:47.000Z",
  "createdAt": "2025-09-11T13:12:38.509Z",
  "id": "9Ttih4NUIvJwGmQ2",
  "name": "Uploading pdf/images from Drives converting to CVS Format",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14jHJ4Ypn8LqMWH2YIji8YDZy3_WnNu3S",
          "mode": "list",
          "cachedResultName": "RAW PDF/IMAGE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14jHJ4Ypn8LqMWH2YIji8YDZy3_WnNu3S"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "09161134-8251-400c-8a73-a3203d936530",
      "name": "Get PDF or Images",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -928,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jfnYdFvxcqTavUul",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.mimeType}}",
        "rules": {
          "rules": [
            {
              "value2": "application/pdf",
              "outputKey": "pdf"
            },
            {
              "operation": "contains",
              "value2": "image/",
              "outputKey": "image"
            }
          ]
        }
      },
      "id": "c6382d31-dbec-4ccb-9e4b-224ec3be68da",
      "name": "Route based on PDF or Image",
      "type": "n8n-nodes-base.switch",
      "position": [
        -624,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get PDF or Images').item.json.id }}"
        },
        "options": {}
      },
      "id": "bc7eac73-fd0e-4cc6-ba88-fd07038c4b7d",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -368,
        240
      ],
      "executeOnce": true,
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jfnYdFvxcqTavUul",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get PDF or Images').item.json.id }}"
        },
        "options": {}
      },
      "id": "5b207880-d8a1-4566-85bf-2f1fb51358df",
      "name": "Download Image",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -368,
        672
      ],
      "executeOnce": true,
      "retryOnFail": false,
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jfnYdFvxcqTavUul",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## How to extract PDF and image text into CSV using n8n (without manual data entry)\n\nThis workflow will extract text data from PDF and images, then store it as CSV.\n\n[💡 You can read more about this workflow here](https://rumjahn.com/how-to-create-an-a-i-agent-to-analyze-matomo-analytics-using-n8n-for-free/)",
        "height": 163.2468619246862,
        "width": 589.0376569037658
      },
      "id": "1e1472bb-cb2f-45d6-b358-76726ff4796f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get PDF or image\nYou need to create a new folder inside Google Drive for uploading your PDF and images.\n\nOnce you create a folder, you need to add your Google cloud user by going to Share -> Add user. The user email should be like: n8n-server@n8n-server-435232.iam.gserviceaccount.com",
        "height": 432.7364016736402,
        "width": 248.11715481171547,
        "color": 4
      },
      "id": "9f3ce10c-4ade-4100-a838-05eb639596bb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send to Openrouter\nYou need to set up an Openrouter account to use this. It sends the data to openrouter to extract text.\n\nUse Header Auth. Name is \"Authorization\" and value is \"Bearer {API token}\".",
        "height": 510,
        "color": 5
      },
      "id": "42fadce2-ae81-4592-bded-88dc42e02869",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Open AI Image Recognition node \n\nWe use the chatgpt image recognition in other to extract text from our image download from the drive we have \n",
        "height": 485,
        "width": 367,
        "color": 6
      },
      "id": "b6c276f8-4846-4fa9-997e-4ed4fe99bd12",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        960
      ],
      "id": "e88213e3-c79d-4060-857c-ad47c2eced9e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CbsD1JY0EilCzfq6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the  plein text {{ $json.content }} {{ $json.text }} convert it to the menu json with the intruction provided to you",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a data extraction assistant. \nYour task is to transform provided plain text into structured JSON objects.\n\nSchema:\n\n  {\n    \"Image\": \"\",\n    \"Title\": \"<string>\",\n    \"Category\": \"<string>\",\n    \"Description\": \"<string>\",\n    \"Price\": \"<number as string>\",\n    \"Status\": \"Active\"\n  }\n\n\nRules:\n- Always return a JSON array of objects.\n- \"Image\" must always be \"\" (empty string).\n- \"Status\" must always be \"Active\".\n- \"Title\" = the name of the meal/item.\n- \"Category\" = if the text includes section headings (like \"Drinks\", \"Starters\", \"Main Course\"), then all items under that heading belong to that category until a new heading is encountered.\n- \"Description\" = if an item line includes details (ingredients, portion size, serving notes, preparation style), extract them into this field and if the is no detail from the image propose one from the name of the dish please always propose a description if needed.\n- \"Price\":\n   - If only one price is present → set it as string without currency symbols (e.g., \"4500\").\n   - If multiple prices are listed for the same item (e.g., \"4500 / 5000 / 6500 frs\") → create multiple JSON objects, one per price, keeping all other fields identical.\n   - Always strip any currency symbols like \"frs\", \"$\", \"€\", etc. Keep only the numeric value.\n- If any field is missing, fill it with \"\".\n- Do not output anything except valid JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        656
      ],
      "id": "2ec5d204-5fe1-454d-ad80-ca77f93a9cb4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Extract all visible text from this image. \nReturn only plain text, no explanations.\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        672
      ],
      "id": "7485fafe-6bf1-4986-9641-a7788cc90205",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "CbsD1JY0EilCzfq6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "\n  {\n    \"Image\": \"\",\n    \"Title\": \"<string>\",\n    \"Category\": \"<string>\",\n    \"Description\": \"<string>\",\n    \"Price\": \"<number as string>\",\n    \"Status\": \"Active\"\n  }\n\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        880
      ],
      "id": "5ff46112-8c82-4842-8680-1066d499945b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14A0OsSJhWPNLYHKjqTiaAQlYWKHO8086",
          "mode": "list",
          "cachedResultName": "RESULT CSV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14A0OsSJhWPNLYHKjqTiaAQlYWKHO8086"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        672
      ],
      "id": "c6b3d9d6-fed4-4e37-87a1-acf90d50c0c8",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jfnYdFvxcqTavUul",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Same sales data\nconst data = $input.first().json.output\n\n// Convert to CSV\nconst headers = Object.keys(data[0]);\nconst rows = data.map(obj => headers.map(h => `\"${String(obj[h]).replace(/\"/g,'\"\"')}\"`).join(','));\nconst csvString = [headers.join(','), ...rows].join('\\n');\n\n// Convert to binary Base64 for n8n\nconst binaryData = Buffer.from(csvString, 'utf-8');\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'data'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        672
      ],
      "id": "7fed3483-ae41-4dcd-ad1b-093a0f5911ae",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "a6200780-c445-4a9f-8796-5feb968482bb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "contextWindowLength": 100005
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        864
      ],
      "id": "4c07e605-5328-4b27-8c12-350aeaae3161",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF or Images": {
      "main": [
        [
          {
            "node": "Route based on PDF or Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on PDF or Image": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Douala",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "9Ttih4NUIvJwGmQ2"
  },
  "staticData": {
    "node:Get PDF or Images": {
      "lastTimeChecked": "2025-09-18T09:25:03Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "50493f31-5ad7-4973-a941-4baa1e0ee61f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-11T13:12:38.513Z",
      "createdAt": "2025-09-11T13:12:38.513Z",
      "role": "workflow:owner",
      "workflowId": "9Ttih4NUIvJwGmQ2",
      "projectId": "ene3OLMtB0nh9ppE"
    }
  ],
  "activeVersion": null,
  "tags": []
}